@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.group-child12 {
  border-radius: 94px;
  background-color: rgba(50, 26, 12, 0.7);
}
.group-child12,
.popup-1-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 663px;
  height: 277px;
}
.message-submitted {
  position: absolute;
  top: 85px;
  left: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 467px;
  height: 167px;
}
.icon-thumb-up,
.popup-1 {
  max-width: 100%;
  max-height: 100%;
}
.icon-thumb-up {
  position: absolute;
  height: 19.39%;
  width: 10.86%;
  top: 25.63%;
  right: 44.65%;
  bottom: 54.98%;
  left: 44.49%;
  overflow: hidden;
}
.popup-1 {
  position: relative;
  width: 663px;
  height: 277px;
  opacity: 0;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-burlywood);
  font-family: var(--font-libre-bodoni);
}
.popup-1.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
