.navbarIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 90px;
  overflow: hidden;
}
.contactUsAnimationChild,
.image1Icon {
  position: absolute;
  border-radius: var(--br-59xl);
}
.image1Icon {
  top: 256px;
  left: 103px;
  width: 513px;
  height: 644px;
  object-fit: cover;
}
.contactUsAnimationChild {
  top: 269px;
  left: 627px;
  background-color: var(--color-gainsboro);
  width: 712px;
  height: 618px;
  cursor: pointer;
}
.contactUs {
  position: absolute;
  top: 184px;
  left: 814px;
  display: inline-block;
  width: 512px;
  height: 125px;
}
.frameChild {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--br-3xs);
  background-color: var(--color-saddlebrown);
  width: 158px;
  height: 47px;
}
.activities {
  position: absolute;
  top: 18px;
  left: 39px;
  letter-spacing: 0.01em;
}
.rectangleParent {
  position: relative;
  width: 178px;
  height: 67px;
  flex-shrink: 0;
}
.contactUs1,
.eat,
.gallery,
.kahani,
.news,
.recs {
  position: absolute;
  top: 18px;
  left: 60px;
  letter-spacing: 0.01em;
}
.contactUs1,
.eat,
.gallery,
.kahani,
.recs {
  left: 70px;
}
.contactUs1,
.gallery,
.kahani,
.recs {
  left: 52px;
}
.contactUs1,
.gallery,
.recs {
  left: 51px;
}
.contactUs1,
.recs {
  left: 65px;
}
.contactUs1 {
  left: 30px;
}
.frameParent {
  position: absolute;
  height: 90.08%;
  width: 99.94%;
  top: 9.92%;
  right: 0.06%;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorIcon {
  position: relative;
  width: 34.11px;
  height: 25.83px;
  flex-shrink: 0;
}
.vectorWrapper {
  position: absolute;
  height: 7.7%;
  width: 30.38%;
  top: 0;
  right: 0;
  bottom: 92.3%;
  left: 69.62%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu {
  position: absolute;
  top: 12px;
  left: 1250px;
  width: 178.11px;
  height: 595px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-burlywood);
  font-family: var(--font-im-fell-great-primer);
}
.mosqueWazirKhan {
  position: absolute;
  top: 738px;
  left: 160px;
  font-size: 40px;
  font-family: var(--font-tomorrow);
  color: var(--white);
  display: inline-block;
  width: 488px;
  height: 190px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #fff;
}
.contactUsAnimation {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-ubuntu);
}
