.heading,
.supportingText {
  position: relative;
  display: inline-block;
  width: 448px;
}
.heading {
  letter-spacing: -0.02em;
  line-height: 44px;
  font-weight: 600;
}
.supportingText {
  font-size: var(--text-xl-normal-size);
  line-height: 30px;
  color: var(--gray-500);
}
.headingAndSupportingText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.label {
  line-height: 20px;
  font-weight: 500;
}
.label,
.mailIcon,
.text {
  position: relative;
}
.mailIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.text {
  flex: 1;
  line-height: 24px;
}
.content3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.helpIcon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
.hintText,
.input {
  align-self: stretch;
  color: var(--gray-500);
}
.input {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-md-medium-size);
}
.hintText {
  position: relative;
  line-height: 20px;
  display: none;
}
.inputFieldBase {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.inputField,
.inputField3,
.inputFieldBase,
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputField {
  flex: 1;
  flex-direction: column;
}
.inputField3,
.row {
  align-self: stretch;
}
.row {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.inputField3 {
  flex-direction: column;
}
.dropdownText {
  position: relative;
  line-height: 24px;
}
.chevronDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.dropdown,
.textInput {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-base);
  justify-content: space-between;
}
.textInput {
  flex: 1;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs) 0;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--gray-500);
}
.input4,
.text1 {
  align-self: stretch;
}
.input4 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-md-medium-size);
  color: var(--gray-900);
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: none;
}
.input5,
.textareaInputField,
.textareaInputFieldBase {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input5 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) 14px;
  align-items: center;
  font-size: var(--text-md-medium-size);
  color: var(--gray-500);
}
.textareaInputField,
.textareaInputFieldBase {
  flex-direction: column;
  align-items: flex-start;
}
.textareaInputFieldBase {
  flex: 1;
  gap: var(--gap-7xs);
}
.textareaInputField {
  height: 154px;
  flex-shrink: 0;
}
.checkboxBase {
  position: relative;
  border-radius: 6px;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.checkbox2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.privacyPolicy {
  text-decoration: underline;
}
.checkbox,
.formFields {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: var(--text-md-medium-size);
  color: var(--gray-500);
}
.formFields {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.text6 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.buttonBase {
  flex: 1;
  background-color: var(--primary-600);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-600);
  overflow: hidden;
  padding: var(--padding-xs) 20px;
  align-items: center;
  justify-content: center;
}
.button,
.buttonBase {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.actions,
.button,
.form {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  display: flex;
  flex-direction: column;
  font-size: var(--text-md-medium-size);
  color: var(--white);
}
.form {
  gap: var(--gap-13xl);
  font-size: var(--text-sm-normal-size);
  color: var(--gray-700);
}
.content,
.content2,
.form {
  display: flex;
  flex-direction: column;
}
.content2 {
  width: 480px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
}
.content {
  align-self: stretch;
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
}
.imageIcon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 657px;
  object-fit: cover;
}
.contact2,
.container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.container {
  flex: 1;
  width: 1280px;
  flex-direction: row;
  padding: 0 32px;
  gap: 64px;
}
.contact2 {
  position: relative;
  background-color: rgba(236, 202, 162, 0.98);
  width: 100%;
  height: 1131px;
  flex-direction: column;
  padding: 64px 0 96px;
  text-align: left;
  font-size: var(--display-md-semibold-size);
  color: var(--gray-900);
  font-family: var(--text-md-medium);
}
