.f1Icon {
  position: absolute;
  top: 0;
  left: 0.25px;
  width: 673px;
  height: 557px;
  object-fit: cover;
}
.afterAllIs {
  margin: 0;
}
.afterAllIsContainer {
  position: absolute;
  top: 438.5px;
  left: 0;
  text-transform: capitalize;
  font-weight: 500;
}
.craigBator {
  position: absolute;
  top: 420.5px;
  left: 0;
  font-size: var(--font-size-xs);
  line-height: 100.9%;
  font-family: var(--font-actor);
}
.eatChild {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 54px;
  height: 22px;
}
.eat,
.eat1,
.eatChild {
  position: absolute;
}
.eat1 {
  top: 3.5px;
  left: 20px;
  font-weight: 500;
}
.eat {
  top: 24.06px;
  left: 21.31px;
  width: 54px;
  height: 22px;
  font-size: var(--font-size-3xs);
}
.imageIcon,
.post1 {
  position: absolute;
  left: 0;
}
.post1 {
  top: 0.88px;
  width: 673.25px;
  height: 557px;
  font-size: var(--display-md-semibold-size);
  font-family: var(--font-oswald);
}
.imageIcon {
  top: 0;
  width: 235px;
  height: 278px;
  object-fit: cover;
}
.theyreBackKennedyContainer {
  position: absolute;
  top: 211px;
  left: 25px;
  font-size: var(--text-sm-normal-size);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.craigBator1 {
  position: absolute;
  top: 195px;
  left: 25px;
  line-height: 100.9%;
}
.businessChild {
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
  width: 54px;
  height: 22px;
}
.business,
.business1,
.businessChild {
  position: absolute;
}
.business1 {
  top: 6px;
  left: 7px;
}
.business {
  top: 25px;
  left: 25px;
  width: 54px;
  height: 22px;
}
.imageIcon1,
.post2 {
  position: absolute;
  top: 0;
  height: 278px;
}
.post2 {
  left: 705.31px;
  width: 235px;
}
.imageIcon1 {
  left: 0;
  width: 485px;
  object-fit: cover;
}
.tourismInDubaiContainer {
  position: absolute;
  top: 181px;
  left: 25px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.craigBator2 {
  position: absolute;
  top: 163px;
  left: 25px;
  font-size: var(--font-size-xs);
  line-height: 100.9%;
}
.business2,
.businessItem {
  position: absolute;
  width: 54px;
  height: 22px;
}
.businessItem {
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
}
.business2 {
  top: 25px;
  left: 24px;
  font-size: var(--font-size-3xs);
}
.post3,
.post4 {
  position: absolute;
  height: 278px;
}
.post4 {
  top: 288.88px;
  left: 698.25px;
  width: 485px;
  font-size: var(--font-size-5xl);
}
.post3 {
  top: 0.13px;
  left: 957.63px;
  width: 235px;
}
.food {
  position: relative;
  width: 1192.63px;
  height: 566.88px;
  flex-shrink: 0;
}
.mostViews,
.recent1,
.trending {
  position: absolute;
  top: 0;
  font-size: var(--text-sm-normal-size);
  font-weight: 500;
  font-family: var(--font-oswald);
  display: inline-block;
  height: 17.98px;
}
.recent1 {
  left: 0;
  color: var(--color-tomato-100);
  width: 46.54px;
}
.trending {
  left: 122.46px;
  width: 58.78px;
}
.mostViews {
  left: 257.17px;
  width: 74.7px;
}
.imageIcon3,
.lineIcon {
  position: absolute;
  left: 0;
}
.lineIcon {
  top: 28.96px;
  width: 330.65px;
  height: 1px;
}
.imageIcon3 {
  top: 0;
  width: 85.72px;
  height: 59.92px;
  object-fit: cover;
}
.span {
  color: var(--color-darkslategray-200);
}
.dec2020 {
  color: var(--color-darkslategray-300);
}
.craigBatorContainer,
.glutenFreeAlmondCakeContainer {
  position: absolute;
  top: 5.14px;
  left: 100.42px;
  line-height: 100.9%;
  display: inline-block;
  width: 117.56px;
  height: 6.85px;
}
.glutenFreeAlmondCakeContainer {
  top: 17.12px;
  font-size: var(--font-size-mini);
  line-height: 111.9%;
  font-family: var(--font-oswald);
  color: var(--color-darkslategray-200);
  width: 170.22px;
  height: 29.1px;
}
.post11 {
  position: absolute;
  top: 46.22px;
  left: 0;
  width: 270.64px;
  height: 59.92px;
}
.enjoyMyFavouriteContainer {
  position: absolute;
  top: 17.12px;
  left: 100.42px;
  font-size: var(--font-size-mini);
  line-height: 111.9%;
  font-family: var(--font-oswald);
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 173.9px;
  height: 29.1px;
}
.post21 {
  position: absolute;
  top: 120.7px;
  left: 0;
  width: 274.32px;
  height: 59.92px;
}
.craigBatorContainer2,
.theyBackReturnContainer {
  position: absolute;
  left: 100.42px;
  display: inline-block;
}
.craigBatorContainer2 {
  top: 5.14px;
  line-height: 100.9%;
  width: 113.89px;
  height: 6.85px;
}
.theyBackReturnContainer {
  top: 17.12px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-oswald);
  width: 165.33px;
  height: 37.66px;
}
.post31 {
  position: absolute;
  top: 195.17px;
  left: 0;
  width: 265.74px;
  height: 59.92px;
}
.theArtOfContainer {
  position: absolute;
  top: 17.12px;
  left: 100.42px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 198.39px;
  height: 37.66px;
}
.post41 {
  position: absolute;
  top: 269.64px;
  left: 0;
  width: 298.81px;
  height: 59.92px;
}
.homeTeamTakesContainer {
  position: absolute;
  top: 17.12px;
  left: 100.42px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 182.47px;
  height: 37.66px;
}
.post5 {
  position: absolute;
  top: 344.11px;
  left: 0;
  width: 282.89px;
  height: 59.92px;
}
.recent {
  position: relative;
  width: 331.87px;
  height: 404.03px;
  flex-shrink: 0;
  font-size: var(--font-size-5xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-sofia-pro);
}
.contact2 {
  position: relative;
  background-color: var(--color-peachpuff);
  width: 100%;
  height: 1131px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) 0 var(--padding-77xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 64px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--white);
  font-family: var(--font-actor);
}
