@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.supporting-text {
  position: relative;
  line-height: 30px;
  display: inline-block;
  width: 448px;
}
.heading-and-supporting-text {
  position: absolute;
  top: 224px;
  left: 221px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-xl-normal-size);
  color: var(--color-gray-200);
}
.input-with-label {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 285px;
  left: 221px;
}
.hint-text10 {
  position: absolute;
  top: 321px;
  left: 354px;
  font-size: var(--text-sm-normal-size);
  line-height: 20px;
  display: none;
  width: 320px;
  height: 19px;
}
.label-2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.help-icon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
.input-2,
.input-with-label-2 {
  display: flex;
  justify-content: flex-start;
}
.input-2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--cold-grey-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
}
.input-with-label-2 {
  position: absolute;
  top: 285px;
  left: 477px;
  width: 224px;
  height: 72px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
  color: var(--color-saddlebrown);
}
.hint-text11,
.label-3 {
  position: absolute;
  line-height: 20px;
}
.hint-text11 {
  top: 321px;
  left: 610px;
  font-size: var(--text-sm-normal-size);
  display: none;
  width: 320px;
  height: 19px;
}
.label-3 {
  top: 372px;
  left: 221px;
  font-weight: 500;
  color: var(--color-saddlebrown);
}
.mail-icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.content-5,
.input-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content-5 {
  flex: 1;
}
.input-3 {
  position: absolute;
  top: 398px;
  left: 221px;
  border-radius: var(--br-5xs);
  background-color: var(--cold-grey-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 480px;
  height: 46px;
  overflow: hidden;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.hint-text12,
.label-4 {
  position: absolute;
  line-height: 20px;
}
.hint-text12 {
  top: 416px;
  left: 354px;
  font-size: var(--text-sm-normal-size);
  display: none;
  width: 320px;
}
.label-4 {
  top: 461px;
  left: 221px;
  font-weight: 500;
  color: var(--color-saddlebrown);
  display: inline-block;
  width: 98px;
  height: 19px;
}
.input-4,
.text-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.text-input {
  flex: 1;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs) 0;
  align-items: center;
}
.input-4 {
  position: absolute;
  top: 486px;
  left: 221px;
  border-radius: var(--br-5xs);
  background-color: var(--cold-grey-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 480px;
  height: 47px;
  overflow: hidden;
  align-items: flex-start;
}
.hint-text13,
.label-5 {
  position: absolute;
  line-height: 20px;
  height: 19px;
}
.hint-text13 {
  top: 512px;
  left: 354px;
  font-size: var(--text-sm-normal-size);
  display: none;
  width: 320px;
}
.label-5 {
  top: 545px;
  left: 221px;
  font-weight: 500;
  color: var(--color-saddlebrown);
  display: inline-block;
  width: 111px;
}
.text22 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: none;
}
.input-5 {
  position: absolute;
  top: 570px;
  left: 221px;
  border-radius: var(--br-5xs);
  background-color: var(--cold-grey-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 480px;
  height: 125px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
}
.hint-text14 {
  position: absolute;
  top: 689px;
  left: 354px;
  font-size: var(--text-sm-normal-size);
  line-height: 20px;
  display: none;
  width: 320px;
  height: 19px;
}
.text-6 {
  position: absolute;
  top: 924px;
  left: 1106px;
  line-height: 24px;
  font-weight: 500;
  color: var(--cold-grey-white);
}
.contact-us23 {
  position: absolute;
  height: 14.91%;
  width: 24.93%;
  top: 10.84%;
  left: 8.06%;
  font-size: var(--font-size-29xl);
  font-family: var(--font-actor);
  color: var(--color-gray-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-110-icon,
.image-111-icon,
.image-112-icon {
  position: absolute;
  top: 0;
  left: 223px;
  width: 485px;
  height: 827px;
  object-fit: cover;
}
.image-111-icon,
.image-112-icon {
  top: 153px;
  left: 278px;
  width: 187px;
  height: 252px;
}
.image-111-icon {
  top: 510px;
  left: 147px;
  width: 203px;
  height: 172px;
}
.image-113-icon,
.image-114-icon,
.image-115-icon {
  position: absolute;
  top: 414px;
  left: 293px;
  width: 138px;
  height: 152px;
  object-fit: cover;
}
.image-114-icon,
.image-115-icon {
  top: 476px;
  left: 0;
  width: 203px;
  height: 125px;
}
.image-114-icon {
  top: 244px;
  left: 89px;
  width: 229px;
  height: 266px;
}
.image-110-parent {
  position: absolute;
  top: 73px;
  left: 788px;
  width: 708px;
  height: 827px;
}
.contact-us-child {
  position: absolute;
  top: 730px;
  left: 221px;
  cursor: pointer;
}
.footer-37-child72 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sienna-200);
  box-shadow: var(--shadow-200);
  width: 1600px;
  height: 153px;
}
.follow-us21,
.subscribe-to-newsletter21 {
  position: absolute;
  top: 34px;
  left: 859px;
  display: inline-block;
  width: 278px;
  height: 29px;
}
.follow-us21 {
  top: 29px;
  left: 467px;
  width: 154px;
}
.footer-37-child73 {
  position: absolute;
  top: 27.5px;
  left: 817.5px;
  border-right: 3px solid var(--cold-grey-10);
  box-sizing: border-box;
  width: 3px;
  height: 109px;
}
.text23 {
  position: absolute;
  height: 6.15%;
  top: 72.69%;
  left: 46.88%;
  font-size: var(--text-sm-normal-size);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.contact-us24,
.maps23,
.privacy-policy22,
.shop23 {
  position: absolute;
  height: 100%;
  width: 26.71%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgba(79, 29, 29, 0.19);
  cursor: pointer;
}
.contact-us24,
.maps23,
.shop23 {
  width: 11.11%;
  left: 36.41%;
}
.contact-us24,
.shop23 {
  width: 9.93%;
  left: 58.16%;
}
.contact-us24 {
  width: 21.28%;
  left: 78.72%;
}
.privacy-policy-parent19 {
  position: absolute;
  height: 6.92%;
  width: 26.44%;
  top: 72%;
  right: 35.69%;
  bottom: 21.08%;
  left: 37.88%;
  font-size: var(--text-md-medium-size);
}
.all-rights-reserved21 {
  position: absolute;
  height: 87.5%;
  width: 84.21%;
  top: 6.25%;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright21 {
  position: absolute;
  top: 221px;
  left: calc(50% - 79px);
  width: 234px;
  height: 16px;
  font-size: var(--text-md-medium-size);
}
.subscribe-child19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cold-grey-10);
  box-shadow: 0 6px 12px -6px rgba(255, 255, 255, 0.12),
    0 8px 24px -4px rgba(255, 255, 255, 0.08);
}
.enter-your-email21 {
  position: absolute;
  width: 70.86%;
  top: 30%;
  left: 2.29%;
  display: inline-block;
}
.subscribe43 {
  position: relative;
}
.buttonstarted21 {
  position: absolute;
  height: 80%;
  width: 26.22%;
  top: 10%;
  right: 0.68%;
  bottom: 10%;
  left: 73.1%;
  background-color: var(--cold-grey-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--text-sm-normal-size);
  color: var(--color-saddlebrown);
}
.subscribe42 {
  position: absolute;
  top: 63px;
  left: 876px;
  width: 560px;
  height: 42px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--cold-grey-30);
}
.image-41-icon21,
.image-42-icon21,
.image-43-icon21 {
  position: absolute;
  height: 100%;
  width: 44.86%;
  top: 0;
  right: 10.17%;
  bottom: 0;
  left: 44.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-42-icon21,
.image-43-icon21 {
  height: 43.39%;
  width: 29.15%;
  top: 34.06%;
  right: 38.44%;
  bottom: 22.55%;
  left: 32.41%;
}
.image-43-icon21 {
  height: 42.92%;
  width: 41.96%;
  top: 34.53%;
  right: 58.04%;
  left: 0;
}
.image-41-parent19 {
  position: absolute;
  height: 82.44%;
  width: 26.86%;
  top: -46.92%;
  right: -2.73%;
  bottom: 64.49%;
  left: 75.88%;
}
.icon48 {
  position: absolute;
  top: -34px;
  left: 58px;
  width: 398px;
  height: 181px;
  object-fit: cover;
}
.footer-37-child74 {
  position: absolute;
  top: 72px;
  left: 498px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-100);
  width: 30px;
  height: 30px;
}
.footer-37-child75 {
  position: absolute;
  top: 72px;
  left: 550px;
  width: 31px;
  height: 31px;
}
.footer-37-child76 {
  position: absolute;
  top: 69px;
  left: 606px;
  width: 37px;
  height: 36px;
}
.image-135-icon21 {
  position: absolute;
  top: 63px;
  left: 540px;
  width: 51px;
  height: 48px;
  object-fit: cover;
}
.image-136-icon21,
.image-137-icon21 {
  position: absolute;
  top: 68px;
  left: 603px;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.image-137-icon21 {
  top: 67px;
  left: 664px;
  border-radius: var(--br-lg);
  width: 42px;
}
.image-134-icon21 {
  position: absolute;
  top: 71px;
  left: 495px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.footer-37-wrapper,
.footer-3715 {
  position: absolute;
  left: 0;
  width: 1600px;
  height: 250px;
}
.footer-3715 {
  top: 0;
  background-color: var(--color-saddlebrown);
}
.footer-37-wrapper {
  top: 857px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-burlywood);
  font-family: var(--font-roboto);
}
.icon49 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 241px;
  height: 268px;
  object-fit: cover;
  cursor: pointer;
}
.icon-cart19,
.vector-icon22 {
  position: absolute;
  height: 48.82%;
  width: 2.08%;
  top: 27.79%;
  right: 2.23%;
  bottom: 23.39%;
  left: 95.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.icon-cart19 {
  height: 45.31%;
  width: 2.22%;
  top: 30.56%;
  right: 5.97%;
  bottom: 24.13%;
  left: 91.81%;
}
.activites19,
.eat19,
.events22,
.gallery23,
.kahani26,
.map20 {
  position: absolute;
  top: 21px;
  left: 1286px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 30px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.activites19,
.eat19,
.events22,
.kahani26,
.map20 {
  left: 1177px;
}
.eat19,
.events22,
.kahani26,
.map20 {
  top: 20px;
  left: 1083px;
}
.eat19,
.events22,
.kahani26 {
  left: 1017px;
}
.events22,
.kahani26 {
  left: 941px;
}
.kahani26 {
  top: 21px;
  left: 845px;
}
.icon-envelope-closed19 {
  position: absolute;
  height: 34.72%;
  width: 2.29%;
  top: 36.11%;
  right: 9.58%;
  bottom: 29.17%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.contact-us22,
.navbar19 {
  box-sizing: border-box;
  overflow: hidden;
}
.navbar19 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sienna-200);
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--color-sienna-200);
  width: 1600px;
  height: 72px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-burlywood);
  font-family: var(--font-actor);
}
.contact-us22 {
  position: relative;
  background-color: var(--color-burlywood);
  border: 1px solid var(--color-black);
  width: 100%;
  height: 1107px;
  opacity: 0;
  text-align: left;
  font-size: var(--text-md-medium-size);
  color: var(--gray-500);
  font-family: var(--text-sm-normal);
}
.contact-us22.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
