.f-1-icon {
  position: absolute;
  top: 0;
  left: 0.25px;
  width: 673px;
  height: 557px;
  object-fit: cover;
}
.after-all-is1 {
  margin: 0;
}
.after-all-is-container1 {
  position: absolute;
  top: 438.5px;
  left: 0;
  text-transform: capitalize;
  font-weight: 500;
}
.craig-bator-5 {
  position: absolute;
  top: 420.5px;
  left: 0;
  font-size: var(--font-size-xs);
  line-height: 100.9%;
  font-family: var(--font-actor);
}
.eat-child {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 54px;
  height: 22px;
}
.eat,
.eat-child,
.eat1 {
  position: absolute;
}
.eat1 {
  top: 3.5px;
  left: 20px;
  font-weight: 500;
}
.eat {
  top: 24.06px;
  left: 21.31px;
  width: 54px;
  height: 22px;
  font-size: var(--font-size-3xs);
}
.image-icon60,
.post-17 {
  position: absolute;
  left: 0;
}
.post-17 {
  top: 0.88px;
  width: 673.25px;
  height: 557px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-oswald);
}
.image-icon60 {
  top: 0;
  width: 235px;
  height: 278px;
  object-fit: cover;
}
.theyre-back-kennedy-container1 {
  position: absolute;
  top: 211px;
  left: 25px;
  font-size: var(--text-sm-normal-size);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.craig-bator-6 {
  position: absolute;
  top: 195px;
  left: 25px;
  line-height: 100.9%;
}
.business-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
  width: 54px;
  height: 22px;
}
.business12,
.business13 {
  position: absolute;
  top: 6px;
  left: 7px;
}
.business12 {
  top: 25px;
  left: 25px;
  width: 54px;
  height: 22px;
}
.image-icon61,
.post-27 {
  position: absolute;
  top: 0;
  left: 705.31px;
  width: 235px;
  height: 278px;
}
.image-icon61 {
  left: 0;
  width: 485px;
  object-fit: cover;
}
.tourism-in-dubai-container1 {
  position: absolute;
  top: 181px;
  left: 25px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.craig-bator-7 {
  position: absolute;
  top: 163px;
  left: 25px;
  font-size: var(--font-size-xs);
  line-height: 100.9%;
}
.business-child4,
.business14 {
  position: absolute;
  width: 54px;
  height: 22px;
}
.business-child4 {
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
}
.business14 {
  top: 25px;
  left: 24px;
  font-size: var(--font-size-3xs);
}
.post-37,
.post-47 {
  position: absolute;
  height: 278px;
}
.post-47 {
  top: 288.88px;
  left: 698.25px;
  width: 485px;
  font-size: var(--font-size-5xl);
}
.post-37 {
  top: 0.13px;
  left: 957.63px;
  width: 235px;
}
.food {
  position: relative;
  width: 1192.63px;
  height: 566.88px;
  flex-shrink: 0;
}
.most-views1,
.recent3,
.trending1 {
  position: absolute;
  top: 0;
  font-size: var(--text-sm-normal-size);
  font-weight: 500;
  font-family: var(--font-oswald);
  display: inline-block;
  height: 17.98px;
}
.recent3 {
  left: 0;
  color: var(--color-tomato-100);
  width: 46.54px;
}
.most-views1,
.trending1 {
  left: 122.46px;
  width: 58.78px;
}
.most-views1 {
  left: 257.17px;
  width: 74.7px;
}
.image-icon63,
.line-icon7 {
  position: absolute;
  top: 28.96px;
  left: 0;
  width: 330.65px;
  height: 1px;
}
.image-icon63 {
  top: 0;
  width: 85.72px;
  height: 59.92px;
  object-fit: cover;
}
.span35 {
  color: var(--color-darkslategray-200);
}
.dec-202035 {
  color: var(--color-darkslategray-300);
}
.craig-bator-container35,
.gluten-free-almond-cake-container1 {
  position: absolute;
  top: 5.14px;
  left: 100.42px;
  line-height: 100.9%;
  display: inline-block;
  width: 117.56px;
  height: 6.85px;
}
.gluten-free-almond-cake-container1 {
  top: 17.12px;
  font-size: var(--font-size-mini);
  line-height: 111.9%;
  font-family: var(--font-oswald);
  color: var(--color-darkslategray-200);
  width: 170.22px;
  height: 29.1px;
}
.post-18 {
  position: absolute;
  top: 46.22px;
  left: 0;
  width: 270.64px;
  height: 59.92px;
}
.enjoy-my-favourite-container1 {
  position: absolute;
  top: 17.12px;
  left: 100.42px;
  font-size: var(--font-size-mini);
  line-height: 111.9%;
  font-family: var(--font-oswald);
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 173.9px;
  height: 29.1px;
}
.post-28 {
  position: absolute;
  top: 120.7px;
  left: 0;
  width: 274.32px;
  height: 59.92px;
}
.craig-bator-container37 {
  position: absolute;
  top: 5.14px;
  left: 100.42px;
  line-height: 100.9%;
  display: inline-block;
  width: 113.89px;
  height: 6.85px;
}
.they-back-return-container1 {
  position: absolute;
  top: 17.12px;
  left: 100.42px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 165.33px;
  height: 37.66px;
}
.post-38 {
  position: absolute;
  top: 195.17px;
  left: 0;
  width: 265.74px;
  height: 59.92px;
}
.the-art-of-container1 {
  position: absolute;
  top: 17.12px;
  left: 100.42px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 198.39px;
  height: 37.66px;
}
.post-48 {
  position: absolute;
  top: 269.64px;
  left: 0;
  width: 298.81px;
  height: 59.92px;
}
.home-team-takes-container1 {
  position: absolute;
  top: 17.12px;
  left: 100.42px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 182.47px;
  height: 37.66px;
}
.post-55 {
  position: absolute;
  top: 344.11px;
  left: 0;
  width: 282.89px;
  height: 59.92px;
}
.recent2 {
  position: relative;
  width: 331.87px;
  height: 404.03px;
  flex-shrink: 0;
  font-size: var(--font-size-5xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-sofia-pro);
}
.contact22 {
  position: relative;
  background-color: var(--color-peachpuff);
  width: 100%;
  height: 1131px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) 0 var(--padding-77xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 64px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--white);
  font-family: var(--font-actor);
}
