.all1,
.allChild {
  position: absolute;
}
.allChild {
  top: 0;
  left: 0;
  background-color: var(--color-crimson);
  width: 28px;
  height: 24px;
}
.all1 {
  top: 3px;
  left: 8px;
}
.all,
.footballChild {
  position: absolute;
  top: 7px;
  left: 296px;
  width: 28px;
  height: 24px;
}
.footballChild {
  top: 0;
  left: 0;
  background-color: var(--color-mediumpurple);
  width: 68px;
}
.football1 {
  position: absolute;
  top: 3px;
  left: 16px;
}
.cricketChild,
.football {
  position: absolute;
  height: 24px;
}
.football {
  top: 7px;
  left: 336px;
  width: 68px;
}
.cricketChild {
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
  width: 56px;
}
.cricket1 {
  position: absolute;
  top: 3px;
  left: 12px;
}
.basketballChild,
.cricket {
  position: absolute;
  height: 24px;
}
.cricket {
  top: 7px;
  left: 416px;
  width: 56px;
}
.basketballChild {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 77px;
}
.basketball1 {
  position: absolute;
  top: 3px;
  left: 15px;
}
.badmintonChild,
.basketball {
  position: absolute;
  height: 24px;
}
.basketball {
  top: 7px;
  left: 484px;
  width: 77px;
}
.badmintonChild {
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
  width: 84px;
}
.badminton,
.badminton1 {
  position: absolute;
  top: 3px;
  left: 18px;
}
.badminton {
  top: 7px;
  left: 573px;
  width: 84px;
  height: 24px;
}
.boxingChild {
  height: 24px;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 64px;
}
.boxing,
.boxing1,
.boxingChild {
  position: absolute;
}
.boxing1 {
  top: 3px;
  left: 17px;
}
.boxing {
  top: 7px;
  left: 669px;
  width: 64px;
  height: 24px;
}
.buttonIcon,
.esports,
.esportsChild {
  position: absolute;
  height: 24px;
}
.esports,
.esportsChild {
  width: 55px;
}
.esportsChild {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
}
.buttonIcon {
  top: 7px;
}
.esports {
  top: 7px;
  left: 745px;
}
.buttonIcon {
  left: 812px;
  width: 58px;
}
.sports2 {
  top: 0;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-tomato-100);
}
.imageIcon,
.lineIcon,
.sports1,
.sports2 {
  position: absolute;
  left: 0;
}
.lineIcon,
.sports1 {
  width: 870px;
}
.sports1 {
  top: 0;
  height: 36px;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-oswald);
}
.lineIcon {
  top: 46px;
  height: 1px;
}
.imageIcon {
  top: 0;
  width: 393px;
  height: 250px;
  object-fit: cover;
}
.span {
  color: var(--color-darkslategray-200);
}
.dec2020 {
  color: var(--color-darkslategray-300);
}
.craigBatorContainer {
  position: absolute;
  top: 275px;
  left: 0;
  line-height: 100.9%;
}
.loremIpsumDolor,
.solskjaerDismissesKlopp {
  position: absolute;
  left: 0;
  display: inline-block;
}
.solskjaerDismissesKlopp {
  top: 299px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-oswald);
  width: 393px;
}
.loremIpsumDolor {
  top: 365px;
  font-size: var(--text-sm-normal-size);
  line-height: 111.1%;
  font-weight: 200;
  color: var(--color-darkslategray-300);
  width: 370px;
}
.cricketItem {
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
  width: 56px;
  height: 21px;
}
.cricket2,
.cricket3,
.cricketItem {
  position: absolute;
}
.cricket3 {
  top: 5px;
  left: 8px;
}
.cricket2 {
  top: 25px;
  left: 25px;
  width: 56px;
  height: 21px;
  color: var(--white);
}
.imageIcon1,
.post1 {
  position: absolute;
  left: 0;
}
.post1 {
  top: 88px;
  width: 393px;
  height: 413px;
  font-size: var(--font-size-xs);
}
.imageIcon1 {
  top: 0;
  width: 90px;
  height: 70px;
  object-fit: cover;
}
.craigBatorContainer1 {
  position: absolute;
  top: 4px;
  left: 105px;
  line-height: 100.9%;
}
.southAfricaHammer {
  margin: 0;
}
.southAfricaHammerContainer {
  position: absolute;
  top: 20px;
  left: 104px;
  font-size: var(--font-size-mini);
  font-family: var(--font-oswald);
}
.post2 {
  position: absolute;
  top: 88px;
  left: 423px;
  width: 327px;
  height: 70px;
}
.craigBatorContainer2 {
  position: absolute;
  top: 7px;
  left: 105px;
  line-height: 100.9%;
}
.jsdbvjl,
.post3 {
  position: absolute;
}
.post3 {
  top: 175px;
  left: 423px;
  width: 369px;
  height: 70px;
}
.jsdbvjl {
  top: 22px;
  left: 104px;
  font-size: var(--font-size-mini);
  font-family: var(--font-oswald);
}
.post4,
.post5 {
  position: absolute;
  top: 262px;
  left: 423px;
  width: 362px;
  height: 70px;
}
.post5 {
  top: 349px;
  width: 365px;
}
.craigBatorContainer5 {
  position: absolute;
  top: 5px;
  left: 105px;
  line-height: 100.9%;
}
.post6 {
  position: absolute;
  top: 436px;
  left: 423px;
  width: 341px;
  height: 70px;
}
.sports {
  position: relative;
  width: 870px;
  height: 506px;
  flex-shrink: 0;
}
.contact2 {
  position: relative;
  background-color: var(--color-peachpuff);
  width: 100%;
  height: 1131px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) 0 var(--padding-77xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-sofia-pro);
}
