.component1variant3Child {
  position: absolute;
  height: 78.55%;
  width: 97.17%;
  top: 15.16%;
  right: 2.09%;
  bottom: 6.28%;
  left: 0.74%;
  background-color: var(--color-saddlebrown-300);
}
.component1variant3Item {
  position: absolute;
  height: 58.47%;
  width: 39.68%;
  top: 15.71%;
  right: 12.55%;
  bottom: 25.82%;
  left: 47.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lahore,
.throughLens {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lahore {
  position: absolute;
  height: 87.65%;
  width: 78.58%;
  top: 0;
  left: 1.61%;
}
.throughLens {
  height: 40.74%;
  width: 100%;
  top: 59.26%;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lucida-handwriting);
}
.icon,
.lahoreParent,
.throughLens {
  position: absolute;
}
.lahoreParent {
  height: 33.2%;
  width: 41.9%;
  top: 39.89%;
  right: 11.61%;
  bottom: 26.91%;
  left: 46.49%;
}
.icon {
  height: 68.31%;
  width: 33.74%;
  top: 16.53%;
  right: 1.35%;
  bottom: 15.16%;
  left: 64.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupChild,
.groupItem {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
}
.groupChild {
  width: 84.16%;
  right: 15.84%;
  left: 0;
  filter: blur(26px);
}
.groupItem {
  width: 61.39%;
  right: 0;
  left: 38.61%;
}
.rectangleParent {
  position: absolute;
  height: 78.55%;
  width: 6.82%;
  top: 15.16%;
  right: 0;
  bottom: 6.28%;
  left: 93.18%;
}
.groupInner,
.rectangleDiv {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.groupInner {
  width: 100%;
  right: 0;
  filter: blur(26px);
}
.rectangleDiv {
  width: 72.94%;
  right: 27.06%;
}
.rectangleGroup {
  position: absolute;
  height: 78.55%;
  width: 5.74%;
  top: 15.03%;
  right: 94.26%;
  bottom: 6.42%;
  left: 0;
}
.image40Icon,
.image7Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -5.21%;
  bottom: 0;
  left: 5.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image7Icon {
  height: 86.09%;
  width: 76.14%;
  top: 7.63%;
  right: 11.06%;
  bottom: 6.28%;
  left: 12.8%;
  border-radius: var(--br-10xl);
}
.image40Parent {
  position: absolute;
  height: 91.26%;
  width: 28.48%;
  top: 8.74%;
  right: 71.46%;
  bottom: 0;
  left: 0.07%;
}
.image41Icon,
.image42Icon,
.image43Icon {
  position: absolute;
  height: 100%;
  width: 50.5%;
  top: 0;
  right: 4.52%;
  bottom: 0;
  left: 44.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image42Icon,
.image43Icon {
  height: 43.39%;
  width: 29.15%;
  top: 34.06%;
  right: 38.44%;
  bottom: 22.55%;
  left: 32.41%;
}
.image43Icon {
  height: 42.92%;
  width: 41.96%;
  top: 34.53%;
  right: 58.04%;
  left: 0;
}
.image41Parent {
  position: absolute;
  height: 29.28%;
  width: 26.86%;
  top: 0;
  right: 0.07%;
  bottom: 70.72%;
  left: 73.08%;
}
.component1variant3,
.groupChild1 {
  position: absolute;
  top: 0;
  left: 18px;
  width: 1482px;
  height: 732px;
}
.groupChild1 {
  top: 182px;
  left: 100px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image48Icon {
  position: absolute;
  top: 1113px;
  left: 1453px;
  width: 200px;
  height: 230px;
  object-fit: cover;
}
.image40Icon1,
.image41Icon1,
.image42Icon1,
.image44Icon,
.image46Icon {
  position: absolute;
  border-radius: var(--br-9xl);
  object-fit: cover;
}
.image46Icon {
  top: 1216px;
  left: 1023px;
  width: 237px;
  height: 371px;
}
.image44Icon {
  top: 1252px;
  left: 219px;
  width: 300px;
  height: 346px;
}
.image40Icon1 {
  top: 3px;
  left: 191px;
  width: 246px;
  height: 308px;
}
.image41Icon1 {
  top: 0;
  left: 465px;
  width: 237px;
  height: 299px;
}
.image42Icon1 {
  top: 0;
  left: 730px;
  width: 253px;
  height: 287px;
}
.image43Icon1 {
  top: 3px;
  left: 1011px;
  border-radius: var(--br-9xl);
  width: 227px;
  height: 296px;
}
.image43Icon1,
.image45Icon,
.image47Icon {
  position: absolute;
  object-fit: cover;
}
.image45Icon {
  top: 1228px;
  left: 548px;
  border-radius: var(--br-9xl);
  width: 446px;
  height: 359px;
}
.image47Icon {
  top: 1113px;
  left: 28px;
  width: 200px;
  height: 230px;
}
.groupChild2 {
  position: absolute;
}
.rectangleContainer {
  position: absolute;
  top: 887px;
  left: 28px;
  width: 1425px;
  height: 711px;
}
.groupChild2 {
  top: 140px;
  left: 80px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image54Icon,
.image56Icon {
  position: absolute;
  border-radius: var(--br-9xl);
  object-fit: cover;
}
.image56Icon {
  top: 3px;
  left: 978px;
  width: 219px;
  height: 277px;
}
.image54Icon {
  top: 0;
  left: 172px;
  width: 397px;
  height: 280px;
}
.image50Icon,
.image51Icon,
.image52Icon,
.image53Icon,
.image55Icon {
  position: absolute;
  border-radius: var(--br-9xl);
  object-fit: cover;
}
.image55Icon {
  top: 13px;
  left: 605px;
  width: 337px;
  height: 267px;
}
.image50Icon {
  top: 346px;
  left: 422px;
  width: 263px;
  height: 304px;
}
.image51Icon {
  top: 346px;
  left: 717px;
  width: 272px;
  height: 308px;
}
.image52Icon {
  top: 345px;
  left: 172px;
  width: 212px;
  height: 304px;
}
.image53Icon {
  top: 346px;
  left: 1005px;
  width: 192px;
  height: 308px;
}
.image58Icon,
.image59Icon {
  top: 189px;
  width: 140px;
  height: 219px;
  object-fit: cover;
}
.image58Icon {
  position: absolute;
  left: 0;
}
.image59Icon {
  left: 1353px;
}
.groupChild3,
.groupDiv,
.image59Icon {
  position: absolute;
}
.groupDiv {
  top: 1740px;
  left: 0;
  width: 1353px;
  height: 654px;
}
.groupChild3 {
  top: 189px;
  left: 55px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image63Icon {
  top: 53px;
  left: 156px;
  width: 323px;
  height: 287px;
}
.image60Icon,
.image61Icon,
.image62Icon,
.image63Icon,
.image64Icon,
.image65Icon {
  position: absolute;
  border-radius: var(--br-9xl);
  object-fit: cover;
}
.image64Icon,
.image65Icon {
  top: 0;
  left: 504px;
  width: 302px;
  height: 348px;
}
.image65Icon {
  top: 116px;
  left: 842px;
  width: 322px;
  height: 224px;
}
.image60Icon {
  top: 387px;
  left: 454px;
  width: 478px;
  height: 319px;
}
.image61Icon {
  top: 377px;
  left: 156px;
  width: 275px;
  height: 366px;
}
.image62Icon {
  top: 387px;
  left: 965px;
  width: 206px;
  height: 348px;
}
.image69Icon,
.image70Icon {
  top: 259px;
  width: 107px;
  height: 162px;
  object-fit: cover;
}
.image69Icon {
  position: absolute;
  left: 0;
}
.image70Icon {
  left: 1303px;
}
.groupChild4,
.image70Icon {
  position: absolute;
}
.rectangleParent1 {
  position: absolute;
  top: 4342px;
  left: 50px;
  width: 1303px;
  height: 743px;
}
.groupChild4 {
  top: 176px;
  left: 63px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image71Icon {
  position: absolute;
  top: 377px;
  left: 569px;
  border-radius: var(--br-9xl);
  width: 273px;
  height: 314px;
  object-fit: cover;
}
.image72Icon {
  width: 273px;
}
.image72Icon,
.image73Icon,
.image74Icon,
.image75Icon,
.image76Icon {
  position: absolute;
  border-radius: var(--br-9xl);
  object-fit: cover;
}
.image72Icon {
  top: 365px;
  left: 882px;
  height: 338px;
}
.image73Icon {
  top: 375px;
  left: 193px;
  width: 336px;
  height: 328px;
}
.image74Icon {
  left: 193px;
  top: 0;
  width: 276px;
  height: 298px;
}
.image75Icon,
.image76Icon {
  top: 0;
}
.image75Icon {
  left: 949px;
  width: 206px;
  height: 299px;
}
.image76Icon {
  height: 299px;
  left: 490px;
  width: 446px;
}
.image79Icon,
.image80Icon {
  top: 242px;
  width: 126px;
  height: 185px;
  object-fit: cover;
}
.image79Icon {
  position: absolute;
  left: 1195px;
}
.image80Icon {
  left: 126px;
}
.groupChild5,
.image80Icon {
  position: absolute;
}
.rectangleParent2 {
  position: absolute;
  top: 3497px;
  left: 49px;
  width: 1321px;
  height: 703px;
}
.groupChild5 {
  top: 220px;
  left: 63px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image84Icon {
  top: 19px;
  left: 936px;
  width: 237px;
  height: 327px;
}
.image81Icon,
.image82Icon,
.image83Icon,
.image84Icon {
  position: absolute;
  border-radius: var(--br-9xl);
  object-fit: cover;
}
.image85Icon {
  top: 428px;
  left: 532px;
  width: 404px;
  height: 363px;
}
.image85Icon,
.image86Icon {
  position: absolute;
  border-radius: var(--br-9xl);
  object-fit: cover;
}
.image81Icon {
  top: 0;
  left: 171px;
  width: 330px;
  height: 379px;
}
.image82Icon {
  top: 423.03px;
  left: 165px;
  width: 316.97px;
  height: 368px;
}
.image83Icon {
  top: 19px;
  left: 532px;
  width: 373px;
  height: 356px;
}
.image86Icon {
  top: 423px;
  left: 960px;
  width: 213px;
  height: 368px;
}
.image87Icon,
.image88Icon {
  position: absolute;
  top: 257px;
  left: 1189px;
  width: 139px;
  height: 227px;
  object-fit: cover;
}
.image88Icon {
  left: 139px;
}
.rectangleParent3 {
  position: absolute;
  top: 2551px;
  left: 78px;
  width: 1328px;
  height: 791.02px;
}
.component1variant3Parent,
.galleryInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 5085px;
}
.galleryInner {
  top: 64px;
  left: -41px;
  width: 1481px;
  height: 989px;
  overflow-y: auto;
}
.navbarIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 90px;
  overflow: hidden;
}
.gallery {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 1053px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-121xl);
  color: var(--white);
  font-family: var(--font-libre-bodoni);
}
