.component-1variant3-child {
  position: absolute;
  height: 78.55%;
  width: 97.17%;
  top: 15.16%;
  right: 2.09%;
  bottom: 6.28%;
  left: 0.74%;
  background-color: rgba(85, 44, 21, 0.91);
}
.component-1variant3-item {
  position: absolute;
  height: 39.62%;
  width: 30.36%;
  top: 25.14%;
  right: 17.21%;
  bottom: 35.25%;
  left: 52.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lahore13,
.through-lens {
  position: absolute;
  height: 87.65%;
  width: 78.58%;
  top: 0;
  left: 1.61%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.through-lens {
  height: 40.74%;
  width: 100%;
  top: 59.26%;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lucida-handwriting);
}
.lahore-container {
  position: absolute;
  height: 33.2%;
  width: 41.9%;
  top: 39.89%;
  right: 11.61%;
  bottom: 26.91%;
  left: 46.49%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.icon50 {
  position: absolute;
  height: 69.4%;
  width: 34.24%;
  top: 15.98%;
  right: 1.1%;
  bottom: 14.62%;
  left: 64.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child45,
.group-child46,
.rectangle-parent43 {
  position: absolute;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.group-child45 {
  height: 100%;
  width: 84.16%;
  top: 0;
  right: 15.84%;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.group-child46,
.rectangle-parent43 {
  right: 0;
}
.group-child46 {
  height: 100%;
  width: 61.39%;
  top: 0;
  bottom: 0;
  left: 38.61%;
  background-color: var(--color-gray-200);
}
.rectangle-parent43 {
  height: 78.55%;
  width: 6.82%;
  top: 15.16%;
  bottom: 6.28%;
  left: 93.18%;
}
.group-child47 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-200);
}
.group-child47,
.group-child48,
.rectangle-parent44 {
  position: absolute;
  left: 0;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.group-child48 {
  height: 100%;
  width: 72.94%;
  top: 0;
  right: 27.06%;
  bottom: 0;
  background-color: var(--color-gray-200);
}
.rectangle-parent44 {
  height: 78.55%;
  width: 5.74%;
  top: 15.03%;
  right: 94.26%;
  bottom: 6.42%;
}
.image-40-icon,
.image-7-icon {
  position: absolute;
  height: 101.2%;
  width: 101.76%;
  top: -0.6%;
  right: -0.88%;
  bottom: -0.6%;
  left: -0.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-7-icon {
  height: 81.6%;
  width: 68.89%;
  top: 9.28%;
  right: 15.63%;
  bottom: 9.12%;
  left: 15.47%;
  border-radius: 29px;
}
.image-40-parent {
  position: absolute;
  height: 91.26%;
  width: 28.48%;
  top: 8.74%;
  right: 71.46%;
  bottom: 0;
  left: 0.07%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.image-41-icon22,
.image-42-icon22,
.image-43-icon22 {
  position: absolute;
  height: 103.73%;
  width: 56.89%;
  top: -1.87%;
  right: -0.93%;
  bottom: -1.87%;
  left: 44.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-42-icon22,
.image-43-icon22 {
  height: 47.12%;
  width: 31.01%;
  top: 32.19%;
  right: 37.51%;
  bottom: 20.69%;
  left: 31.48%;
}
.image-43-icon22 {
  height: 46.66%;
  width: 43.82%;
  top: 32.66%;
  right: 57.11%;
  left: -0.93%;
}
.image-41-parent20 {
  position: absolute;
  height: 29.28%;
  width: 26.86%;
  top: 0;
  right: 0.07%;
  bottom: 70.72%;
  left: 73.08%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.component-1variant3,
.group-child49 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 732px;
}
.group-child49 {
  top: 182px;
  left: 100px;
  background-color: var(--color-gray-400);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1210px;
  height: 318px;
}
.image-46-icon,
.image-48-icon {
  position: absolute;
  top: 222px;
  left: 1221px;
  width: 208px;
  height: 238px;
  object-fit: cover;
}
.image-46-icon {
  top: 325px;
  left: 991px;
  border-radius: var(--br-9xl);
  width: 245px;
  height: 379px;
}
.image-40-icon1,
.image-41-icon23,
.image-42-icon23,
.image-44-icon {
  position: absolute;
  top: 361px;
  left: 187px;
  border-radius: var(--br-9xl);
  width: 308px;
  height: 354px;
  object-fit: cover;
}
.image-40-icon1,
.image-41-icon23,
.image-42-icon23 {
  top: -1px;
  width: 254px;
  height: 316px;
}
.image-41-icon23,
.image-42-icon23 {
  top: -4px;
  left: 461px;
  width: 245px;
  height: 307px;
}
.image-42-icon23 {
  left: 726px;
  width: 261px;
  height: 295px;
}
.image-43-icon23 {
  top: -1px;
  left: 1007px;
  border-radius: var(--br-9xl);
  width: 235px;
  height: 304px;
}
.image-43-icon23,
.image-45-icon,
.image-47-icon {
  position: absolute;
  object-fit: cover;
}
.image-45-icon {
  top: 337px;
  left: 516px;
  border-radius: var(--br-9xl);
  width: 454px;
  height: 367px;
}
.image-47-icon {
  top: 222px;
  left: -4px;
  width: 208px;
  height: 238px;
}
.group-child50,
.rectangle-parent45 {
  position: absolute;
  top: 856px;
  left: 88px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1425px;
  height: 711px;
}
.group-child50 {
  top: 140px;
  left: 80px;
  background-color: var(--color-gray-400);
  width: 1210px;
  height: 318px;
}
.image-54-icon,
.image-56-icon {
  position: absolute;
  top: -1px;
  left: 974px;
  border-radius: var(--br-9xl);
  width: 227px;
  height: 285px;
  object-fit: cover;
}
.image-54-icon {
  top: -4px;
  left: 168px;
  width: 405px;
  height: 288px;
}
.image-50-icon,
.image-51-icon,
.image-52-icon,
.image-53-icon,
.image-55-icon {
  position: absolute;
  top: 9px;
  left: 601px;
  border-radius: var(--br-9xl);
  width: 345px;
  height: 275px;
  object-fit: cover;
}
.image-50-icon,
.image-51-icon,
.image-52-icon,
.image-53-icon {
  top: 342px;
  left: 418px;
  width: 271px;
  height: 312px;
}
.image-51-icon,
.image-52-icon,
.image-53-icon {
  left: 713px;
  width: 280px;
  height: 316px;
}
.image-52-icon,
.image-53-icon {
  top: 341px;
  left: 168px;
  width: 220px;
  height: 312px;
}
.image-53-icon {
  top: 342px;
  left: 1001px;
  width: 200px;
  height: 316px;
}
.image-58-icon,
.image-59-icon {
  position: absolute;
  top: 185px;
  left: -4px;
  width: 148px;
  height: 227px;
  object-fit: cover;
}
.image-59-icon {
  left: 1209px;
}
.group-child51,
.rectangle-parent46 {
  position: absolute;
  top: 1741px;
  left: 114px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1353px;
  height: 654px;
}
.group-child51 {
  top: 189px;
  left: 55px;
  background-color: var(--color-gray-400);
  width: 1210px;
  height: 318px;
}
.image-63-icon {
  position: absolute;
  top: 49px;
  left: 152px;
  border-radius: var(--br-9xl);
  width: 331px;
  height: 295px;
  object-fit: cover;
}
.image-60-icon,
.image-61-icon,
.image-62-icon,
.image-64-icon,
.image-65-icon {
  position: absolute;
  top: -4px;
  left: 500px;
  border-radius: var(--br-9xl);
  width: 310px;
  height: 356px;
  object-fit: cover;
}
.image-60-icon,
.image-61-icon,
.image-62-icon,
.image-65-icon {
  top: 112px;
  left: 838px;
  width: 330px;
  height: 232px;
}
.image-60-icon,
.image-61-icon,
.image-62-icon {
  top: 383px;
  left: 450px;
  width: 486px;
  height: 327px;
}
.image-61-icon,
.image-62-icon {
  top: 373px;
  left: 152px;
  width: 283px;
  height: 374px;
}
.image-62-icon {
  top: 383px;
  left: 961px;
  width: 214px;
  height: 356px;
}
.image-69-icon,
.image-70-icon {
  position: absolute;
  top: 255px;
  left: -4px;
  width: 115px;
  height: 170px;
  object-fit: cover;
}
.image-70-icon {
  left: 1192px;
}
.group-child52,
.rectangle-parent47 {
  position: absolute;
  top: 4424px;
  left: 88px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1303px;
  height: 743px;
}
.group-child52 {
  top: 176px;
  left: 63px;
  background-color: var(--color-gray-400);
  width: 1210px;
  height: 318px;
}
.image-71-icon {
  position: absolute;
  top: 373px;
  left: 565px;
  border-radius: var(--br-9xl);
  width: 281px;
  height: 322px;
  object-fit: cover;
}
.image-72-icon,
.image-73-icon,
.image-74-icon,
.image-75-icon,
.image-76-icon {
  position: absolute;
  top: 361px;
  left: 878px;
  border-radius: var(--br-9xl);
  width: 281px;
  height: 346px;
  object-fit: cover;
}
.image-73-icon,
.image-74-icon,
.image-75-icon,
.image-76-icon {
  top: 371px;
  left: 189px;
  width: 344px;
  height: 336px;
}
.image-74-icon,
.image-75-icon,
.image-76-icon {
  top: -4px;
  width: 284px;
  height: 306px;
}
.image-75-icon,
.image-76-icon {
  left: 945px;
  width: 214px;
  height: 307px;
}
.image-76-icon {
  left: 486px;
  width: 454px;
}
.image-79-icon,
.image-80-icon {
  position: absolute;
  top: 238px;
  left: 1191px;
  width: 134px;
  height: 193px;
  object-fit: cover;
}
.image-80-icon {
  left: -4px;
}
.group-child53,
.rectangle-parent48 {
  position: absolute;
  top: 3534px;
  left: 95px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1321px;
  height: 703px;
}
.group-child53 {
  top: 220px;
  left: 63px;
  background-color: var(--color-gray-400);
  width: 1210px;
  height: 318px;
}
.image-84-icon {
  position: absolute;
  top: 15px;
  left: 932px;
  border-radius: var(--br-9xl);
  width: 245px;
  height: 335px;
  object-fit: cover;
}
.image-81-icon,
.image-82-icon,
.image-83-icon,
.image-85-icon,
.image-86-icon {
  position: absolute;
  top: 424px;
  left: 528px;
  border-radius: var(--br-9xl);
  width: 412px;
  height: 371px;
  object-fit: cover;
}
.image-81-icon,
.image-82-icon,
.image-83-icon,
.image-86-icon {
  top: -4px;
  left: 167px;
  width: 338px;
  height: 387px;
}
.image-82-icon,
.image-83-icon,
.image-86-icon {
  top: 419px;
  left: 161px;
  width: 325px;
  height: 376.02px;
}
.image-83-icon,
.image-86-icon {
  top: 15px;
  left: 528px;
  width: 381px;
  height: 364px;
}
.image-86-icon {
  top: 419px;
  left: 956px;
  width: 221px;
  height: 376px;
}
.image-87-icon,
.image-88-icon {
  position: absolute;
  top: 253px;
  left: 1185px;
  width: 147px;
  height: 235px;
  object-fit: cover;
}
.image-88-icon {
  left: -4px;
}
.rectangle-parent49 {
  position: absolute;
  top: 2569px;
  left: 88px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1328px;
  height: 791.02px;
}
.component-1variant3-parent {
  top: 0;
  height: 5167px;
}
.component-1variant3-parent,
.footer-37-child77,
.gallery-inner {
  position: absolute;
  left: 0;
  width: 1600px;
}
.gallery-inner {
  top: 72px;
  height: 5342px;
  overflow-y: auto;
  color: var(--cold-grey-white);
}
.footer-37-child77 {
  top: 0;
  background-color: var(--color-sienna-200);
  box-shadow: var(--shadow-200);
  height: 153px;
}
.follow-us22,
.subscribe-to-newsletter22 {
  position: absolute;
  top: 34px;
  left: 859px;
  display: inline-block;
  width: 278px;
  height: 29px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.follow-us22 {
  top: 29px;
  left: 467px;
  width: 154px;
}
.footer-37-child78 {
  position: absolute;
  top: 27.5px;
  left: 817.5px;
  border-right: 3px solid var(--cold-grey-10);
  box-sizing: border-box;
  width: 3px;
  height: 109px;
}
.contact-us25,
.maps24,
.privacy-policy23,
.shop24,
.text24 {
  position: absolute;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.text24 {
  height: 6.15%;
  top: 72.69%;
  left: 46.88%;
  font-size: var(--text-sm-normal-size);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.contact-us25,
.maps24,
.privacy-policy23,
.shop24 {
  height: 100%;
  width: 26.71%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px rgba(79, 29, 29, 0.19);
  cursor: pointer;
}
.contact-us25,
.maps24,
.shop24 {
  width: 11.11%;
  left: 36.41%;
}
.contact-us25,
.shop24 {
  width: 9.93%;
  left: 58.16%;
}
.contact-us25 {
  width: 21.28%;
  left: 78.72%;
}
.privacy-policy-parent20 {
  position: absolute;
  height: 6.92%;
  width: 26.44%;
  top: 72%;
  right: 35.69%;
  bottom: 21.08%;
  left: 37.88%;
  font-size: var(--text-md-medium-size);
}
.all-rights-reserved22 {
  position: absolute;
  height: 87.5%;
  width: 84.21%;
  top: 6.25%;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright22 {
  position: absolute;
  top: 221px;
  left: calc(50% - 79px);
  width: 234px;
  height: 16px;
  font-size: var(--text-md-medium-size);
}
.subscribe-child20 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cold-grey-10);
  box-shadow: 0 6px 12px -6px rgba(255, 255, 255, 0.12),
    0 8px 24px -4px rgba(255, 255, 255, 0.08);
}
.enter-your-email22 {
  position: absolute;
  width: 70.86%;
  top: 30%;
  left: 2.29%;
  display: inline-block;
}
.subscribe45 {
  position: relative;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.buttonstarted22 {
  position: absolute;
  height: 80%;
  width: 26.22%;
  top: 10%;
  right: 0.68%;
  bottom: 10%;
  left: 73.1%;
  background-color: var(--cold-grey-white);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--text-sm-normal-size);
  color: var(--color-saddlebrown);
}
.subscribe44 {
  position: absolute;
  top: 63px;
  left: 876px;
  width: 560px;
  height: 42px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--cold-grey-30);
}
.image-41-icon24,
.image-42-icon24,
.image-43-icon24 {
  position: absolute;
  height: 103.88%;
  width: 56.89%;
  top: -1.94%;
  right: -0.93%;
  bottom: -1.94%;
  left: 44.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-42-icon24,
.image-43-icon24 {
  height: 47.27%;
  width: 31.01%;
  top: 32.12%;
  right: 37.51%;
  bottom: 20.61%;
  left: 31.48%;
}
.image-43-icon24 {
  height: 46.81%;
  width: 43.82%;
  top: 32.58%;
  right: 57.11%;
  left: -0.93%;
}
.image-41-parent21 {
  position: absolute;
  height: 82.44%;
  width: 26.86%;
  top: -46.92%;
  right: -2.73%;
  bottom: 64.49%;
  left: 75.88%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.icon51 {
  position: absolute;
  top: -38px;
  left: 54px;
  width: 406px;
  height: 189px;
  object-fit: cover;
}
.footer-37-child79 {
  position: absolute;
  top: 72px;
  left: 498px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
  width: 30px;
  height: 30px;
}
.footer-37-child80 {
  position: absolute;
  top: 70px;
  left: 548px;
  width: 35px;
  height: 35px;
}
.footer-37-child81 {
  position: absolute;
  top: 67px;
  left: 604px;
  width: 41px;
  height: 40px;
}
.image-135-icon22 {
  position: absolute;
  top: 59px;
  left: 536px;
  width: 59px;
  height: 56px;
  object-fit: cover;
}
.image-136-icon22,
.image-137-icon22 {
  position: absolute;
  top: 66px;
  left: 601px;
  width: 45px;
  height: 42px;
  object-fit: cover;
}
.image-137-icon22 {
  top: 65px;
  left: 662px;
  border-radius: var(--br-lg);
  width: 46px;
}
.image-134-icon22 {
  position: absolute;
  top: 69px;
  left: 493px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.footer-3716 {
  position: absolute;
  top: 5404px;
  left: 0;
  background-color: var(--color-saddlebrown);
  width: 1600px;
  height: 250px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
}
.icon52 {
  position: absolute;
  top: -122px;
  left: 23px;
  width: 249px;
  height: 276px;
  object-fit: cover;
  cursor: pointer;
}
.icon-cart20,
.vector-icon23 {
  position: absolute;
  height: 48.82%;
  width: 2.08%;
  top: 27.79%;
  right: 2.23%;
  bottom: 23.39%;
  left: 95.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.icon-cart20 {
  height: 45.31%;
  width: 2.22%;
  top: 30.56%;
  right: 5.97%;
  bottom: 24.13%;
  left: 91.81%;
}
.activites20,
.eat20,
.events23,
.gallery25,
.kahani27,
.map21 {
  position: absolute;
  top: 21px;
  left: 1286px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 30px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  cursor: pointer;
}
.activites20,
.eat20,
.events23,
.kahani27,
.map21 {
  left: 1177px;
}
.eat20,
.events23,
.kahani27,
.map21 {
  top: 20px;
  left: 1083px;
}
.eat20,
.events23,
.kahani27 {
  left: 1017px;
}
.events23,
.kahani27 {
  left: 941px;
}
.kahani27 {
  top: 21px;
  left: 845px;
}
.icon-envelope-closed20 {
  position: absolute;
  height: 34.72%;
  width: 2.29%;
  top: 36.11%;
  right: 9.58%;
  bottom: 29.17%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.navbar20 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sienna-200);
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--color-sienna-200);
  box-sizing: border-box;
  width: 1600px;
  height: 72px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-actor);
}
.gallery24 {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 5654px;
  text-align: center;
  font-size: var(--font-size-121xl);
  color: var(--color-burlywood);
  font-family: var(--font-libre-bodoni);
}
