@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}

body{
  overflow-x: hidden;
}
.wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 800px);
  background-color: rgba(109, 66, 41, 0.5);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1600px;
  height: 827px;
  opacity: 1;
}
.wrapper.animate {
  animation: 2s ease 0s 1 normal forwards shadow-drop-bottom;
}
.intro-1 {
  position: absolute;
  top: calc(50% - 307.17px);
  left: calc(50% - 617px);
  width: 1235px;
  height: 642.38px;
}
.heart-of-pakistan,
.lahore6 {
  position: absolute;
  height: 9.21%;
  width: 28.5%;
  top: 18.84%;
  left: 15.25%;
  display: flex;
  align-items: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.heart-of-pakistan {
  height: 5.75%;
  width: 23.56%;
  top: 28.05%;
  left: 15.56%;
  font-size: var(--font-size-21xl);
}
.rectangle-parent60 {
  position: relative;
  width: 1440px;
  height: 827px;
  flex-shrink: 0;
  margin-right: 80px;
}
.image-90 {
  position: absolute;
  height: 62.43%;
  width: 45.82%;
  top: 0;
  right: 18.35%;
  bottom: 37.57%;
  left: 35.83%;
  border-radius: 114px;
}
.group-child49,
.group-child50 {
  position: absolute;
  height: 18.16%;
  width: 98.48%;
  top: 36.97%;
  right: 1.5%;
  bottom: 44.87%;
  left: 0.02%;
  background-color: var(--color-saddlebrown-300);
}
.group-child50 {
  top: 81.84%;
  right: 1.52%;
  bottom: 0;
  left: 0;
}
.image-100-icon {
  position: absolute;
  height: 29.01%;
  width: 20.57%;
  top: 11.53%;
  right: 77.29%;
  bottom: 59.46%;
  left: 2.15%;
  border-radius: 106px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.gallery3,
.khabay {
  position: absolute;
  width: 17.85%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.gallery3 {
  height: 7.54%;
  top: 89.23%;
  left: 3.37%;
  cursor: pointer;
}
.khabay {
  height: 7.21%;
  top: 45.02%;
  left: 3.48%;
}
.kahani2,
.news3 {
  height: 7.54%;
  width: 17.94%;
}
.news3 {
  position: absolute;
  top: 44.5%;
  left: 27.44%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.kahani2 {
  top: 43.65%;
  left: 51.75%;
}
.activities4,
.contact-us7,
.kahani2,
.maps3,
.recs2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.activities4 {
  height: 8.52%;
  width: 24.74%;
  top: 43.18%;
  left: 72.74%;
}
.contact-us7,
.maps3,
.recs2 {
  height: 7.54%;
  top: 90.28%;
}
.maps3 {
  width: 17.85%;
  left: 52.93%;
  cursor: pointer;
}
.contact-us7,
.recs2 {
  width: 17.94%;
  left: 26.68%;
}
.contact-us7 {
  width: 28.14%;
  left: 71.86%;
  cursor: pointer;
}
.image-101-icon,
.image-102 {
  position: absolute;
  border-radius: var(--br-141xl);
}
.image-101-icon {
  height: 29.01%;
  width: 20.31%;
  top: 11.53%;
  right: 53.4%;
  bottom: 59.46%;
  left: 26.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-102 {
  height: 35.07%;
  width: 22.36%;
  top: 29.33%;
  right: 30.16%;
  bottom: 35.6%;
  left: 47.48%;
}
.image-103-icon,
.image-104-icon {
  height: 29.01%;
  width: 20.57%;
  cursor: pointer;
}
.image-103-icon {
  position: absolute;
  top: 59.56%;
  right: 4.67%;
  bottom: 11.43%;
  left: 74.77%;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-104-icon {
  top: 58.25%;
  right: 28.41%;
  bottom: 12.74%;
  left: 51.02%;
}
.image-104-icon,
.image-105-icon,
.image-106-icon,
.image-107-icon,
.image-108-icon {
  position: absolute;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-105-icon {
  height: 29.01%;
  width: 20.65%;
  top: 58.77%;
  right: 77.34%;
  bottom: 12.22%;
  left: 2.01%;
  cursor: pointer;
}
.image-106-icon,
.image-107-icon,
.image-108-icon {
  height: 29.5%;
  width: 20.91%;
  top: 11.41%;
  right: 28.84%;
  bottom: 59.09%;
  left: 50.26%;
}
.image-107-icon,
.image-108-icon {
  height: 29.99%;
  width: 20.57%;
  right: 4.67%;
  bottom: 58.6%;
  left: 74.77%;
}
.image-108-icon {
  height: 30.81%;
  width: 21.93%;
  top: 57.72%;
  right: 53.2%;
  bottom: 11.47%;
  left: 24.87%;
}
.group-child51 {
  position: absolute;
  height: 7.7%;
  width: 4.76%;
  top: 59.19%;
  right: 48.39%;
  bottom: 33.11%;
  left: 46.85%;
  background-color: var(--color-burlywood);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
}
.group-child52,
.image-90-parent {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.image-90-parent {
  position: relative;
  width: 1054.16px;
  height: 406px;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-burlywood);
}
.group-child52 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-58xl);
  background-color: var(--color-gray-400);
  width: 489px;
  height: 325.89px;
}
.image-118-icon2 {
  position: absolute;
  top: 18.74px;
  left: 34px;
  border-radius: var(--br-30xl);
  width: 237px;
  height: 288.42px;
  object-fit: cover;
}
.the-wazir-khan2,
.wazir-khan-mosque2 {
  position: absolute;
  top: 83.37px;
  left: 299px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 56.84px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.the-wazir-khan2 {
  top: 145.89px;
  font-size: var(--font-size-2xs);
  color: var(--color-burlywood);
  width: 150px;
  height: 113.68px;
}
.group-child53,
.rectangle-parent61 {
  position: absolute;
  top: 7.58px;
  left: 0;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 489px;
  height: 325.89px;
}
.group-child53 {
  top: 0;
  border-radius: var(--br-58xl);
  background-color: var(--color-gray-500);
}
.gali-surjan-singh5 {
  position: absolute;
  top: 145.9px;
  left: 299px;
  font-size: var(--font-size-2xs);
  color: var(--color-burlywood);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 113.68px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.image-119-icon28 {
  position: absolute;
  top: 18.74px;
  left: 36px;
  border-radius: var(--br-30xl);
  width: 237px;
  height: 288.42px;
  object-fit: cover;
}
.rectangle-parent62 {
  position: absolute;
  top: 0;
  left: 541px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 489px;
  height: 325.89px;
}
.the-shalamar-gardens-container5 {
  line-break: anywhere;
  width: 100%;
}
.the-shalamar-gardens-container4 {
  top: 145.9px;
  left: 299px;
  font-size: var(--font-size-2xs);
  color: inherit;
  width: 150px;
  height: 113.68px;
}
.food-street-in-container4,
.food-street2,
.lahore-railway-station4,
.the-shalamar-gardens-container4 {
  position: absolute;
  display: flex;
  align-items: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.lahore-railway-station4 {
  top: 72.95px;
  left: 289px;
  justify-content: center;
  width: 170px;
  height: 56.84px;
}
.food-street-in-container4,
.food-street2 {
  left: 299px;
}
.food-street2 {
  top: 97.58px;
  justify-content: center;
  width: 143px;
  height: 28.42px;
}
.food-street-in-container4 {
  top: 129.79px;
  font-size: var(--font-size-2xs);
  color: inherit;
  width: 150px;
  height: 145.89px;
}
.rectangle-parent64,
.rectangle-parent65 {
  position: absolute;
  top: 2.84px;
  left: 519px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 489px;
  height: 325.89px;
}
.rectangle-parent64 {
  width: 1008px;
  height: 328.74px;
}
.group-parent2,
.rectangle-parent63 {
  position: absolute;
  top: 10.42px;
  left: 1082px;
  width: 1527px;
  height: 331.58px;
}
.group-parent2 {
  top: -15px;
  left: 0;
  width: 2609px;
  height: 342px;
}
.group-wrapper16 {
  position: relative;
  width: 1601px;
  height: 317px;
  flex-shrink: 0;
  overflow-x: auto;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--white);
}
.lahore9 {
  position: absolute;
  top: 0;
  left: 4px;
  display: flex;
  align-items: center;
  width: 403px;
  height: 102px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.area {
  color: var(--color-gray-100);
}
.km2-684-sq {
  color: var(--color-sienna);
}
.area-1772-km2-684-sq-mi {
  margin: 0;
}
.united-nations {
  color: inherit;
}
.area-1772-km2-container {
  position: absolute;
  top: 391px;
  left: 0;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 533px;
  color: var(--color-sienna);
}
.most-populous-city {
  text-decoration: underline;
}
.lahore-is-the-container {
  position: absolute;
  top: 84px;
  left: 4px;
  font-size: var(--text-xl-normal-size);
  color: inherit;
  display: flex;
  align-items: flex-end;
  width: 524px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.lahore-container {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 533px;
  height: 541px;
}
.image-120-icon {
  position: absolute;
  top: 47px;
  left: 574px;
  border-radius: 57px;
  width: 406px;
  height: 545px;
  object-fit: cover;
}
.group-parent3 {
  position: relative;
  width: 976px;
  height: 588px;
  flex-shrink: 0;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.group-parent1 {
  position: absolute;
  top: 72px;
  left: -1px;
  height: 828px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 112px;
}
.navbar-icon7 {
  position: absolute;
  top: -18px;
  left: -24px;
  width: 1646px;
  height: 116px;
  overflow: hidden;
}
.homepage {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 900px;
  text-align: left;
  font-size: 64px;
  color: var(--color-saddlebrown-100);
  font-family: var(--font-libre-bodoni);
}
