.khaabe-child {
  position: absolute;
  top: 450px;
  left: 698px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.khaabe-of-lahore {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 250.5px);
  line-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 502px;
  height: 38px;
  -webkit-text-stroke: 1px #000;
}
.khaabe-of-lahore-wrapper {
  position: absolute;
  top: 438px;
  left: -3px;
  background-color: var(--color-sienna-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1603px;
  height: 57px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-libre-bodoni);
}
.icon7,
.icon8,
.icon9 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 444px;
  height: 367px;
  object-fit: cover;
}
.icon8,
.icon9 {
  left: 444px;
  width: 685px;
  height: 372px;
}
.icon9 {
  left: 1129px;
  width: 474px;
}
.container {
  position: absolute;
  top: 71px;
  left: -3px;
  width: 1603px;
  height: 367px;
  overflow: hidden;
}
.icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 518px;
  height: 335px;
  object-fit: cover;
}
.restaurant1 {
  position: absolute;
  top: 140px;
  left: 109px;
  font-weight: 500;
  display: inline-block;
  width: 300px;
  height: 37px;
}
.frame-child18 {
  position: absolute;
  top: 89px;
  left: 234px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.khaabe-inner,
.parent1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 518px;
  height: 335px;
}
.khaabe-inner {
  top: 605px;
  left: 265px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  cursor: pointer;
}
.c-3-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  height: 338px;
  object-fit: cover;
}
.cafe3 {
  position: absolute;
  top: 148px;
  left: 189px;
  font-weight: 500;
  display: inline-block;
  width: 164px;
}
.material-symbolslocal-cafe-icon {
  position: absolute;
  top: 97px;
  left: 248px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.c-3-parent,
.khaabe-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 520px;
  height: 338px;
}
.khaabe-inner1 {
  top: 602px;
  left: 817px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  cursor: pointer;
}
.explore-famous-khaabe {
  position: absolute;
  top: 529px;
  left: 526px;
  font-weight: 500;
  -webkit-text-stroke: 1px #000;
}
.icon11 {
  position: absolute;
  top: 1px;
  left: 27px;
  width: 241px;
  height: 268px;
  object-fit: cover;
  cursor: pointer;
}
.icon-cart2,
.vector-icon2 {
  position: absolute;
  height: 48.82%;
  width: 2.08%;
  top: 27.79%;
  right: 2.23%;
  bottom: 23.39%;
  left: 95.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.icon-cart2 {
  height: 45.31%;
  width: 2.22%;
  top: 30.56%;
  right: 5.97%;
  bottom: 24.13%;
  left: 91.81%;
}
.activites2,
.eat2,
.events4,
.gallery5,
.kahani3,
.map2 {
  position: absolute;
  top: 21px;
  left: 1286px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 30px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.activites2,
.eat2,
.events4,
.kahani3,
.map2 {
  left: 1177px;
}
.eat2,
.events4,
.kahani3,
.map2 {
  top: 20px;
  left: 1083px;
}
.eat2,
.events4,
.kahani3 {
  left: 1017px;
}
.events4,
.kahani3 {
  left: 941px;
}
.kahani3 {
  top: 21px;
  left: 845px;
}
.icon-envelope-closed2 {
  position: absolute;
  height: 34.72%;
  width: 2.29%;
  top: 36.11%;
  right: 9.58%;
  bottom: 29.17%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.footer-38-child7,
.navbar2 {
  position: absolute;
  left: 0;
  background-color: var(--color-sienna-200);
}
.navbar2 {
  top: -1px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--color-sienna-200);
  box-sizing: border-box;
  width: 1602px;
  height: 72px;
  overflow: hidden;
  font-size: var(--font-size-6xl);
  color: var(--color-burlywood);
  font-family: var(--font-actor);
}
.footer-38-child7 {
  top: 0;
  box-shadow: var(--shadow-200);
  width: 1600px;
  height: 153px;
}
.follow-us3,
.subscribe-to-newsletter3 {
  position: absolute;
  top: 34px;
  left: 859px;
  display: inline-block;
  width: 278px;
  height: 29px;
}
.follow-us3 {
  top: 29px;
  left: 467px;
  width: 154px;
}
.footer-38-child8 {
  position: absolute;
  top: 27.5px;
  left: 817.5px;
  border-right: 3px solid var(--cold-grey-10);
  box-sizing: border-box;
  width: 3px;
  height: 109px;
}
.text3 {
  position: absolute;
  height: 6.15%;
  top: 72.69%;
  left: 46.88%;
  font-size: var(--text-sm-normal-size);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.contact-us4,
.maps4,
.privacy-policy3,
.shop3 {
  position: absolute;
  height: 100%;
  width: 26.71%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgba(79, 29, 29, 0.19);
  cursor: pointer;
}
.contact-us4,
.maps4,
.shop3 {
  width: 11.11%;
  left: 36.41%;
}
.contact-us4,
.shop3 {
  width: 9.93%;
  left: 58.16%;
}
.contact-us4 {
  width: 21.28%;
  left: 78.72%;
}
.privacy-policy-parent1 {
  position: absolute;
  height: 6.92%;
  width: 26.44%;
  top: 72%;
  right: 35.69%;
  bottom: 21.08%;
  left: 37.88%;
  font-size: var(--text-md-medium-size);
}
.all-rights-reserved3 {
  position: absolute;
  height: 87.5%;
  width: 84.21%;
  top: 6.25%;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright3 {
  position: absolute;
  top: 221px;
  left: calc(50% - 79px);
  width: 234px;
  height: 16px;
  font-size: var(--text-md-medium-size);
}
.subscribe-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cold-grey-10);
  box-shadow: 0 6px 12px -6px rgba(255, 255, 255, 0.12),
    0 8px 24px -4px rgba(255, 255, 255, 0.08);
}
.enter-your-email3 {
  position: absolute;
  width: 70.86%;
  top: 30%;
  left: 2.29%;
  display: inline-block;
}
.subscribe7 {
  position: relative;
}
.buttonstarted3 {
  position: absolute;
  height: 80%;
  width: 26.22%;
  top: 10%;
  right: 0.68%;
  bottom: 10%;
  left: 73.1%;
  background-color: var(--cold-grey-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--text-sm-normal-size);
  color: var(--color-saddlebrown);
}
.subscribe6 {
  position: absolute;
  top: 63px;
  left: 876px;
  width: 560px;
  height: 42px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--cold-grey-30);
}
.image-41-icon3,
.image-42-icon3,
.image-43-icon3 {
  position: absolute;
  height: 100%;
  width: 44.86%;
  top: 0;
  right: 10.17%;
  bottom: 0;
  left: 44.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-42-icon3,
.image-43-icon3 {
  height: 43.39%;
  width: 29.15%;
  top: 34.06%;
  right: 38.44%;
  bottom: 22.55%;
  left: 32.41%;
}
.image-43-icon3 {
  height: 42.92%;
  width: 41.96%;
  top: 34.53%;
  right: 58.04%;
  left: 0;
}
.image-41-parent1 {
  position: absolute;
  height: 82.44%;
  width: 26.86%;
  top: -46.92%;
  right: -2.73%;
  bottom: 64.49%;
  left: 75.88%;
}
.icon12 {
  position: absolute;
  top: -34px;
  left: 58px;
  width: 398px;
  height: 181px;
  object-fit: cover;
}
.footer-38-child9 {
  position: absolute;
  top: 72px;
  left: 498px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-100);
  width: 30px;
  height: 30px;
}
.footer-38-child10 {
  position: absolute;
  top: 72px;
  left: 550px;
  width: 31px;
  height: 31px;
}
.footer-38-child11 {
  position: absolute;
  top: 69px;
  left: 606px;
  width: 37px;
  height: 36px;
}
.image-135-icon3,
.image-136-icon3,
.image-137-icon3 {
  position: absolute;
  top: 63px;
  left: 540px;
  width: 51px;
  height: 48px;
  object-fit: cover;
}
.image-136-icon3,
.image-137-icon3 {
  top: 68px;
  left: 603px;
  width: 41px;
  height: 38px;
}
.image-137-icon3 {
  top: 67px;
  left: 664px;
  border-radius: var(--br-lg);
  width: 42px;
}
.image-134-icon3 {
  position: absolute;
  top: 71px;
  left: 495px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.footer-382 {
  position: absolute;
  top: 1686px;
  left: 0;
  background-color: var(--color-saddlebrown);
  width: 1600px;
  height: 250px;
  font-size: var(--font-size-5xl);
  color: var(--color-burlywood);
}
.more-in-lahore2 {
  position: absolute;
  top: 1030px;
  left: calc(50% - 125px);
  font-size: var(--font-size-21xl);
  font-weight: 500;
  -webkit-text-stroke: 1px #000;
}
.image-98-icon2 {
  position: absolute;
  height: 49.89%;
  width: 30.21%;
  top: 19.09%;
  right: 67.25%;
  bottom: 31.02%;
  left: 2.54%;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.activities3,
.image-105-icon3 {
  position: absolute;
  top: 332px;
  left: 164px;
}
.image-105-icon3 {
  height: 52.06%;
  width: 30.71%;
  top: 17.79%;
  right: 34.12%;
  bottom: 30.15%;
  left: 35.17%;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.gallery6,
.image-106-icon3 {
  position: absolute;
  top: 332px;
  left: 709px;
}
.image-106-icon3 {
  height: 51.63%;
  width: 30.57%;
  top: 18.22%;
  right: 1.37%;
  bottom: 30.15%;
  left: 68.06%;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.events5 {
  position: absolute;
  top: 332px;
  left: 1251px;
}
.image-98-container {
  position: absolute;
  top: 1116px;
  left: 0;
  width: 1600px;
  height: 461px;
  overflow: hidden;
  font-size: var(--font-size-36xl);
  color: var(--color-black);
  font-family: var(--font-libre-bodoni);
}
.khaabe {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 1936px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-darkred);
  font-family: var(--font-roboto);
}
