.kjs-pclean-glow-22-60g-closed- {
  position: absolute;
  height: calc(100% + 329px);
  width: calc(100% + 329px);
  top: 0;
  right: -329px;
  bottom: -329px;
  left: 0;
  background-color: #070505;
}
.material-symbolsrate-review-o {
  position: relative;
  width: 100%;
  height: 24px;
  overflow: hidden;
}
