.new-child {
  position: absolute;
  top: 150.5px;
  left: -1396px;
  width: 644px;
  height: 559px;
}
.menu-child,
.navbar-icon4 {
  position: absolute;
  top: 0;
  left: 0;
}
.navbar-icon4 {
  width: 1600px;
  height: 98px;
  overflow: hidden;
}
.menu-child {
  background-color: var(--white);
  box-shadow: 0 1px 10px rgba(246, 80, 80, 0.15);
  width: 1440px;
  height: 42px;
}
.facebook-icon,
.instagram-icon,
.twitter-icon,
.youtube-icon {
  position: absolute;
  top: 11px;
  left: 1178px;
  width: 26px;
  height: 26px;
}
.instagram-icon,
.twitter-icon,
.youtube-icon {
  left: 1212px;
}
.instagram-icon,
.youtube-icon {
  left: 1246px;
}
.youtube-icon {
  left: 1280px;
}
.group-child46,
.indonesia-says-located {
  position: absolute;
  top: 16px;
  left: 113px;
}
.group-child46 {
  top: 0;
  left: 0;
  background-color: var(--color-tomato-100);
  width: 96px;
  height: 42px;
}
.breaking-news1 {
  position: absolute;
  top: 15px;
  left: 7px;
}
.rectangle-parent41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 42px;
  color: var(--white);
}
.breaking-news,
.frame-icon {
  position: absolute;
  top: 0;
  left: 444px;
  width: 461px;
  height: 42px;
}
.frame-icon {
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.wednesday-10-january {
  position: absolute;
  top: 2px;
  left: 28px;
}
.date,
.haze-fill-1-icon {
  position: absolute;
  top: 14px;
  left: 249px;
  width: 181px;
  height: 16px;
}
.haze-fill-1-icon {
  top: 2px;
  left: 0;
  width: 16px;
  overflow: hidden;
}
.div,
.frame-icon1,
.new-york {
  position: absolute;
  top: 4px;
  left: 47px;
}
.div,
.frame-icon1 {
  left: 23px;
}
.frame-icon1 {
  top: 0;
  left: 31px;
  width: 8px;
  height: 8px;
  overflow: hidden;
}
.menu1,
.new-yourk {
  position: absolute;
  top: 12px;
  left: 135px;
  width: 98px;
  height: 18px;
}
.menu1 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 42px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-sofia-pro);
}
.image-icon,
.logo,
.logo-final-1 {
  position: absolute;
  width: 247px;
  height: 62px;
}
.logo-final-1 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.image-icon,
.logo {
  top: 82px;
  left: 135px;
}
.image-icon {
  top: 0;
  left: 0;
  width: 771px;
  height: 90px;
  object-fit: cover;
}
.blog {
  font-family: var(--font-sofia-pro);
}
.best-selling-blog-and-magazine {
  margin: 0;
}
.best-selling-blog-container,
.experience-the-change {
  position: absolute;
  top: 16px;
  left: 26px;
  line-height: 151.1%;
}
.experience-the-change {
  top: 57px;
  font-family: var(--font-oswald);
  color: var(--color-tomato-100);
}
.purchase-now-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-tomato-100);
  width: 180px;
  height: 44px;
}
.purchase-now1 {
  position: absolute;
  top: 13px;
  left: 20px;
}
.add,
.purchase-now {
  position: absolute;
  top: 23px;
  left: 563px;
  width: 180px;
  height: 44px;
  font-size: var(--font-size-lg);
}
.add {
  top: 68px;
  left: 535px;
  width: 771px;
  height: 90px;
  font-size: var(--text-sm-normal-size);
  font-family: var(--font-sofia-pro);
}
.home-child,
.menu-item {
  position: absolute;
  height: 60px;
}
.menu-item {
  top: 183px;
  left: 135px;
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  width: 1170px;
}
.home-child {
  top: 0;
  left: 0;
  background-color: var(--color-tomato-100);
  width: 75px;
}
.home-item,
.home2 {
  position: absolute;
  top: 15px;
  left: 16px;
}
.home-item {
  top: 49.5px;
  left: 24.5px;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  width: 26px;
  height: 1px;
}
.home1 {
  position: absolute;
  top: 183px;
  left: 135px;
  width: 75px;
  height: 60px;
}
.international1 {
  position: absolute;
  top: 0;
  left: 0;
}
.business,
.international,
.opinion,
.sports {
  position: absolute;
  top: 198px;
  left: 231px;
  width: 93px;
  height: 30px;
}
.business,
.opinion,
.sports {
  left: 349px;
  width: 47px;
}
.business,
.opinion {
  left: 421px;
  width: 55px;
}
.business {
  left: 501px;
  width: 64px;
}
.entertainment,
.frame-icon2,
.lifestyle,
.youth {
  position: absolute;
  top: 198px;
  left: 590px;
  width: 42px;
  height: 30px;
}
.entertainment,
.frame-icon2,
.lifestyle {
  left: 657px;
  width: 103px;
}
.frame-icon2,
.lifestyle {
  left: 785px;
  width: 62px;
}
.frame-icon2 {
  top: 3px;
  left: 45px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon3,
.pages {
  position: absolute;
  top: 198px;
  left: 872px;
  width: 69px;
  height: 30px;
}
.frame-icon3 {
  top: 24px;
  left: 140px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.search-for {
  position: absolute;
  top: 25px;
  left: 16px;
  font-weight: 300;
}
.search-child {
  position: absolute;
  top: -0.25px;
  left: -0.25px;
  border-right: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 0.5px;
  height: 60.5px;
}
.search {
  position: absolute;
  top: 183px;
  left: 1121px;
  width: 152px;
  height: 60px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-200);
  font-family: var(--font-sofia-pro);
}
.sub-menu-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-tomato-100);
  width: 204px;
  height: 266px;
}
.about-us,
.archive,
.contact-us2 {
  position: absolute;
  top: 20px;
  left: 25px;
}
.about-us,
.archive {
  top: 60px;
}
.archive {
  top: 100px;
}
.author,
.photo-gallery,
.video {
  position: absolute;
  top: 140px;
  left: 25px;
}
.photo-gallery,
.video {
  top: 180px;
}
.video {
  top: 220px;
}
.frame-icon4,
.frame-icon5,
.frame-icon6,
.frame-icon7,
.frame-icon8,
.frame-icon9 {
  position: absolute;
  top: 47px;
  left: 164px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon5,
.frame-icon6,
.frame-icon7,
.frame-icon8,
.frame-icon9 {
  top: 87px;
}
.frame-icon6,
.frame-icon7,
.frame-icon8,
.frame-icon9 {
  top: 132px;
}
.frame-icon7,
.frame-icon8,
.frame-icon9 {
  top: 207px;
}
.frame-icon8,
.frame-icon9 {
  top: 167px;
}
.frame-icon9 {
  top: 247px;
}
.line-div,
.sub-menu-child1,
.sub-menu-child2,
.sub-menu-inner,
.sub-menu-item {
  position: absolute;
  top: 54.5px;
  left: 24.5px;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  width: 154px;
  height: 1px;
}
.line-div,
.sub-menu-child1,
.sub-menu-child2,
.sub-menu-inner {
  top: 94.5px;
}
.line-div,
.sub-menu-child1,
.sub-menu-child2 {
  top: 134.5px;
}
.sub-menu-child1,
.sub-menu-child2 {
  top: 174.5px;
}
.sub-menu-child2 {
  top: 214.5px;
}
.sub-menu {
  position: absolute;
  top: 234px;
  left: 813px;
  width: 204px;
  height: 266px;
  display: none;
}
.image-icon1,
.menu {
  position: absolute;
  top: 0;
  left: 0;
}
.menu {
  width: 1440px;
  height: 243px;
  font-size: var(--text-xl-normal-size);
  font-family: var(--font-oswald);
}
.image-icon1 {
  width: 670px;
  height: 570px;
  object-fit: cover;
}
.after-all-is-container {
  position: absolute;
  top: 439px;
  left: 25px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.craig-bator- {
  position: absolute;
  top: 421px;
  left: 25px;
  font-size: var(--font-size-xs);
  line-height: 100.9%;
}
.business-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 54px;
  height: 22px;
}
.business2,
.business3 {
  position: absolute;
  top: 6px;
  left: 7px;
}
.business2 {
  top: 25px;
  left: 25px;
  width: 54px;
  height: 22px;
  font-size: var(--font-size-3xs);
}
.image-icon2,
.post-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.post-1 {
  width: 670px;
  height: 570px;
  font-size: var(--font-size-17xl);
}
.image-icon2 {
  width: 235px;
  height: 278px;
  object-fit: cover;
}
.theyre-back-kennedy-container {
  position: absolute;
  top: 211px;
  left: 25px;
  font-size: var(--text-sm-normal-size);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.craig-bator-1 {
  position: absolute;
  top: 195px;
  left: 25px;
  line-height: 100.9%;
}
.business-item,
.business4 {
  position: absolute;
  width: 54px;
  height: 22px;
}
.business-item {
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
}
.business4 {
  top: 25px;
  left: 25px;
}
.image-icon3,
.post-2 {
  position: absolute;
  top: 0;
  left: 685px;
  width: 235px;
  height: 278px;
}
.image-icon3 {
  left: 0;
  width: 485px;
  object-fit: cover;
}
.tourism-in-dubai-container {
  position: absolute;
  top: 181px;
  left: 25px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.craig-bator-2 {
  position: absolute;
  top: 163px;
  left: 25px;
  font-size: var(--font-size-xs);
  line-height: 100.9%;
}
.business-inner,
.business6 {
  position: absolute;
  width: 54px;
  height: 22px;
}
.business-inner {
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
}
.business6 {
  top: 25px;
  left: 24px;
  font-size: var(--font-size-3xs);
}
.news,
.post-3,
.post-4 {
  position: absolute;
  height: 278px;
}
.post-4 {
  top: 292px;
  left: 685px;
  width: 485px;
  font-size: var(--font-size-5xl);
}
.news,
.post-3 {
  top: 0;
  left: 935px;
  width: 235px;
}
.news {
  top: 268px;
  left: 135px;
  width: 1170px;
  height: 570px;
}
.dont-miss2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-tomato-100);
}
.dont-miss-child,
.dont-miss-item {
  position: absolute;
  top: 42.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 871px;
  height: 1px;
}
.dont-miss-item {
  border-top: 1px solid var(--color-tomato-100);
  width: 141px;
}
.all-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-crimson);
  width: 28px;
  height: 21px;
}
.all1 {
  position: absolute;
  top: 1px;
  left: 8px;
}
.all,
.lifestyle-child {
  position: absolute;
  top: 8px;
  left: 298px;
  width: 28px;
  height: 21px;
}
.lifestyle-child {
  top: 0;
  left: 0;
  background-color: var(--color-mediumpurple);
  width: 68px;
}
.lifestyle3 {
  position: absolute;
  top: 1px;
  left: 15px;
}
.lifestyle2,
.vogue-child {
  position: absolute;
  top: 8px;
  left: 338px;
  width: 68px;
  height: 21px;
}
.vogue-child {
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
  width: 50px;
}
.vogue1 {
  position: absolute;
  top: 1px;
  left: 11px;
}
.health-fitness-child,
.vogue {
  position: absolute;
  top: 8px;
  left: 418px;
  width: 50px;
  height: 21px;
}
.health-fitness-child {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 111px;
}
.health-fitness,
.health-fitness1 {
  position: absolute;
  top: 1px;
  left: 19px;
}
.health-fitness {
  top: 8px;
  left: 480px;
  width: 111px;
  height: 21px;
}
.gadgets-child,
.travel,
.travel-child {
  position: absolute;
  width: 57px;
  height: 21px;
}
.travel-child {
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
}
.gadgets-child,
.travel {
  top: 8px;
  left: 603px;
}
.gadgets-child {
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 64px;
}
.gadgets,
.gadgets1 {
  position: absolute;
  top: 1px;
  left: 14px;
}
.gadgets {
  top: 8px;
  left: 672px;
  width: 64px;
  height: 21px;
}
.more-child,
.world,
.world-child {
  position: absolute;
  width: 55px;
  height: 21px;
}
.world-child {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
}
.more-child,
.world {
  top: 8px;
  left: 748px;
}
.more-child {
  top: 0;
  left: 0;
  background-color: var(--color-mediumslateblue);
}
.frame-icon10,
.more1 {
  position: absolute;
  top: 2px;
  left: 14px;
}
.frame-icon10 {
  top: 4px;
  left: 37px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.more {
  position: absolute;
  top: 8px;
  left: 815px;
  width: 55px;
  height: 21px;
}
.dont-miss1,
.image-icon5 {
  position: absolute;
  top: 0;
  left: 0;
}
.dont-miss1 {
  width: 870px;
  height: 43px;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-oswald);
}
.image-icon5 {
  width: 393px;
  height: 250px;
  object-fit: cover;
}
.span {
  color: var(--color-darkslategray-200);
}
.dec-2020 {
  color: var(--color-darkslategray-300);
}
.craig-bator-container {
  position: absolute;
  top: 275px;
  left: 0;
  line-height: 100.9%;
}
.lorem-ipsum-dolor,
.now-is-the {
  position: absolute;
  left: 0;
  display: inline-block;
}
.now-is-the {
  top: 291px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-oswald);
  width: 394px;
}
.lorem-ipsum-dolor {
  top: 351px;
  font-size: var(--text-sm-normal-size);
  line-height: 111.1%;
  font-weight: 200;
  color: var(--color-darkslategray-300);
  width: 370px;
}
.business10,
.business11 {
  position: absolute;
  top: 5px;
  left: 10px;
}
.business10 {
  top: 25px;
  left: 25px;
  width: 68px;
  height: 21px;
  font-size: var(--font-size-xs);
  color: var(--white);
}
.image-icon6,
.post-11 {
  position: absolute;
  top: 67px;
  left: 0;
  width: 394px;
  height: 399px;
}
.image-icon6 {
  top: 0;
  width: 90px;
  height: 70px;
  object-fit: cover;
}
.craig-bator-container1 {
  position: absolute;
  top: 5px;
  left: 109px;
  line-height: 100.9%;
}
.penns-expanding-political-container {
  position: absolute;
  top: 21px;
  left: 109px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-oswald);
}
.post-21 {
  position: absolute;
  top: 67px;
  left: 423px;
  width: 365px;
  height: 70px;
}
.dont-miss,
.post-31,
.post-41,
.post-5,
.post-6 {
  position: absolute;
  top: 153px;
  left: 423px;
  width: 333px;
  height: 70px;
}
.dont-miss,
.post-41,
.post-5,
.post-6 {
  top: 239px;
  width: 380px;
}
.dont-miss,
.post-5,
.post-6 {
  top: 325px;
  width: 378px;
}
.dont-miss,
.post-6 {
  top: 411px;
}
.dont-miss {
  top: 888px;
  left: 135px;
  width: 870px;
  height: 481px;
  color: var(--color-darkslategray-100);
}
.most-views,
.recent1,
.trending {
  position: absolute;
  top: 0;
  font-size: var(--text-sm-normal-size);
  font-weight: 500;
  font-family: var(--font-oswald);
}
.recent1 {
  left: 0;
  color: var(--color-tomato-100);
}
.most-views,
.trending {
  left: 100px;
}
.most-views {
  left: 210px;
}
.image-icon11,
.line-icon {
  position: absolute;
  top: 34px;
  left: 0;
  width: 270px;
  height: 1px;
}
.image-icon11 {
  top: 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.craig-bator-container6 {
  position: absolute;
  top: 6px;
  left: 82px;
  line-height: 100.9%;
}
.gluten-free-almond-cake-container {
  position: absolute;
  top: 20px;
  left: 82px;
  font-size: var(--font-size-mini);
  line-height: 111.9%;
  font-family: var(--font-oswald);
  color: var(--color-darkslategray-200);
}
.post-12,
.post-22 {
  position: absolute;
  top: 54px;
  left: 0;
  width: 221px;
  height: 70px;
}
.post-22 {
  top: 141px;
  width: 224px;
}
.they-back-return-container {
  position: absolute;
  top: 20px;
  left: 82px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-oswald);
}
.post-32,
.post-42,
.post-51,
.recent {
  position: absolute;
  top: 228px;
  left: 0;
  width: 217px;
  height: 70px;
}
.post-42,
.post-51,
.recent {
  top: 315px;
  width: 244px;
}
.post-51,
.recent {
  top: 402px;
  width: 231px;
}
.recent {
  top: 896px;
  left: 1035px;
  width: 271px;
  height: 472px;
  font-size: var(--font-size-5xs);
  color: var(--color-darkslategray-100);
}
.entertainment3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-oswald);
  color: var(--color-tomato-100);
}
.line-icon1 {
  position: absolute;
  top: 41px;
  left: 0;
  width: 1170px;
  height: 1px;
}
.button-icon,
.image-icon16 {
  position: absolute;
  top: 6px;
  left: 1112px;
  width: 58px;
  height: 24px;
}
.image-icon16 {
  top: 0;
  left: 0;
  width: 1170px;
  height: 450px;
  object-fit: cover;
}
.amanda-seyfried-became {
  position: absolute;
  top: 246px;
  left: 30px;
  font-family: var(--font-oswald);
}
.post-1-child {
  position: absolute;
  top: 310.5px;
  left: 29.5px;
  border-top: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  width: 81px;
  height: 1px;
}
.hollywood-actress-amanda-container {
  position: absolute;
  top: 319px;
  left: 30px;
  font-size: var(--font-size-lg);
  line-height: 125.6%;
}
.hollywood-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 80px;
  height: 24px;
}
.hollywood,
.hollywood1 {
  position: absolute;
  top: 5px;
  left: 7px;
}
.hollywood {
  top: 25px;
  left: 25px;
  width: 80px;
  height: 24px;
  font-size: var(--text-sm-normal-size);
}
.image-icon17,
.post-13 {
  position: absolute;
  left: 0;
}
.post-13 {
  top: 67px;
  width: 1170px;
  height: 450px;
  font-size: var(--font-size-5xl);
  color: var(--white);
}
.image-icon17 {
  top: 0;
  width: 130px;
  height: 100px;
  object-fit: cover;
}
.craig-bator-container11 {
  position: absolute;
  top: 3px;
  left: 147px;
  line-height: 100.9%;
}
.amanda-seyfried-became-container {
  position: absolute;
  top: 25px;
  left: 147px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-oswald);
}
.hollywood-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 50px;
  height: 16px;
}
.hollywood2,
.hollywood3 {
  position: absolute;
  top: 4px;
  left: 5px;
}
.hollywood2 {
  top: 7px;
  left: 6px;
  width: 50px;
  height: 16px;
  font-size: var(--font-size-5xs);
  color: var(--white);
}
.post-23 {
  position: absolute;
  top: 542px;
  left: 0;
  width: 333px;
  height: 100px;
}
.bollywood,
.bollywood-child {
  position: absolute;
  width: 50px;
  height: 16px;
}
.bollywood-child {
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
}
.bollywood {
  top: 7px;
  left: 9px;
  font-size: var(--font-size-5xs);
  color: var(--white);
}
.post-33 {
  position: absolute;
  top: 542px;
  left: 401px;
  width: 342px;
  height: 100px;
}
.craig-bator-container13 {
  position: absolute;
  top: 3px;
  left: 150px;
  line-height: 100.9%;
}
.apee-karim-blessed-container {
  position: absolute;
  top: 25px;
  left: 150px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-oswald);
}
.entertainment-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
  width: 59px;
  height: 16px;
}
.entertainment4,
.entertainment5 {
  position: absolute;
  top: 4px;
  left: 4px;
}
.entertainment4 {
  top: 7px;
  left: 11px;
  width: 59px;
  height: 16px;
  font-size: var(--font-size-5xs);
  color: var(--white);
}
.post-43 {
  position: absolute;
  top: 542px;
  left: 800px;
  width: 303px;
  height: 100px;
}
.entertainment2 {
  top: 1404px;
  left: 135px;
  width: 1170px;
  height: 642px;
  color: var(--color-darkslategray-100);
}
.all-item,
.all3,
.entertainment2 {
  position: absolute;
}
.all-item {
  top: 0;
  left: 0;
  background-color: var(--color-crimson);
  width: 28px;
  height: 24px;
}
.all3 {
  top: 3px;
  left: 8px;
}
.all2,
.football-child {
  position: absolute;
  top: 7px;
  left: 296px;
  width: 28px;
  height: 24px;
}
.football-child {
  top: 0;
  left: 0;
  background-color: var(--color-mediumpurple);
  width: 68px;
}
.football1 {
  position: absolute;
  top: 3px;
  left: 16px;
}
.cricket-child,
.football {
  position: absolute;
  top: 7px;
  left: 336px;
  width: 68px;
  height: 24px;
}
.cricket-child {
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
  width: 56px;
}
.cricket1 {
  position: absolute;
  top: 3px;
  left: 12px;
}
.basketball-child,
.cricket {
  position: absolute;
  top: 7px;
  left: 416px;
  width: 56px;
  height: 24px;
}
.basketball-child {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 77px;
}
.basketball1 {
  position: absolute;
  top: 3px;
  left: 15px;
}
.badminton-child,
.basketball {
  position: absolute;
  top: 7px;
  left: 484px;
  width: 77px;
  height: 24px;
}
.badminton-child {
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
  width: 84px;
}
.badminton1 {
  position: absolute;
  top: 3px;
  left: 18px;
}
.badminton,
.boxing-child {
  position: absolute;
  top: 7px;
  left: 573px;
  width: 84px;
  height: 24px;
}
.boxing-child {
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 64px;
}
.boxing,
.boxing1 {
  position: absolute;
  top: 3px;
  left: 17px;
}
.boxing {
  top: 7px;
  left: 669px;
  width: 64px;
  height: 24px;
}
.button-icon1,
.esports,
.esports-child {
  position: absolute;
  width: 55px;
  height: 24px;
}
.esports-child {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
}
.button-icon1,
.esports {
  top: 7px;
  left: 745px;
}
.button-icon1 {
  left: 812px;
  width: 58px;
}
.line-icon2,
.sports3 {
  position: absolute;
  left: 0;
  width: 870px;
}
.sports3 {
  top: 0;
  height: 36px;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-oswald);
}
.line-icon2 {
  top: 46px;
  height: 1px;
}
.solskjaer-dismisses-klopp {
  position: absolute;
  top: 299px;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 393px;
}
.lorem-ipsum-dolor1 {
  position: absolute;
  top: 365px;
  left: 0;
  font-size: var(--text-sm-normal-size);
  line-height: 111.1%;
  font-weight: 200;
  color: var(--color-darkslategray-300);
  display: inline-block;
  width: 370px;
}
.cricket-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
  width: 56px;
  height: 21px;
}
.cricket2,
.cricket3 {
  position: absolute;
  top: 5px;
  left: 8px;
}
.cricket2 {
  top: 25px;
  left: 25px;
  width: 56px;
  height: 21px;
  color: var(--white);
}
.post-14 {
  position: absolute;
  top: 88px;
  left: 0;
  width: 393px;
  height: 413px;
  font-size: var(--font-size-xs);
}
.craig-bator-container15 {
  position: absolute;
  top: 4px;
  left: 105px;
  line-height: 100.9%;
}
.south-africa-hammer-container {
  position: absolute;
  top: 20px;
  left: 104px;
  font-size: var(--font-size-mini);
  font-family: var(--font-oswald);
}
.post-24 {
  position: absolute;
  top: 88px;
  left: 423px;
  width: 327px;
  height: 70px;
}
.craig-bator-container16 {
  position: absolute;
  top: 7px;
  left: 105px;
  line-height: 100.9%;
}
.post-34 {
  position: absolute;
  top: 175px;
  left: 423px;
  width: 343px;
  height: 70px;
}
.the-only-thing-container1 {
  position: absolute;
  top: 22px;
  left: 104px;
  font-size: var(--font-size-mini);
  font-family: var(--font-oswald);
}
.post-44,
.post-52 {
  position: absolute;
  top: 262px;
  left: 423px;
  width: 362px;
  height: 70px;
}
.post-52 {
  top: 349px;
  width: 365px;
}
.craig-bator-container19 {
  position: absolute;
  top: 5px;
  left: 105px;
  line-height: 100.9%;
}
.post-61,
.sports2 {
  position: absolute;
  top: 436px;
  left: 423px;
  width: 341px;
  height: 70px;
}
.sports2 {
  top: 2096px;
  left: 135px;
  width: 870px;
  height: 506px;
  color: var(--color-darkslategray-100);
}
.facebook-child,
.line-icon3 {
  position: absolute;
  top: 38px;
  left: 0;
  width: 270px;
  height: 1px;
}
.facebook-child {
  top: 0;
  background-color: var(--color-royalblue-100);
  width: 130px;
  height: 40px;
}
.frame-icon11 {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.div1,
.followers {
  position: absolute;
  top: 12px;
  left: 39px;
  font-weight: 500;
}
.followers {
  top: 23px;
}
.facebook,
.instagram-child {
  position: absolute;
  top: 64px;
  left: 0;
  width: 130px;
  height: 40px;
}
.instagram-child {
  top: 0;
  background-color: var(--color-mediumvioletred);
}
.frame-icon12 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.instagram,
.youtube-child {
  position: absolute;
  top: 64px;
  left: 140px;
  width: 130px;
  height: 40px;
}
.youtube-child {
  top: 0;
  left: 0;
  background-color: #ef5043;
}
.div3,
.subscribe {
  position: absolute;
  top: 10px;
  left: 39px;
  font-weight: 500;
}
.subscribe {
  top: 21px;
}
.youtube {
  top: 114px;
  left: 0;
}
.behance-child,
.twitter,
.twitter-child,
.youtube {
  position: absolute;
  width: 130px;
  height: 40px;
}
.twitter-child {
  top: 0;
  left: 0;
  background-color: var(--color-deepskyblue);
}
.behance-child,
.twitter {
  top: 114px;
  left: 140px;
}
.behance-child {
  top: 0;
  left: 0;
  background-color: #1b7bfd;
}
.behance {
  top: 164px;
  left: 0;
}
.behance,
.dribble,
.dribble-child,
.stay-connected {
  position: absolute;
  width: 130px;
  height: 40px;
}
.dribble-child {
  top: 0;
  left: 0;
  background-color: var(--color-hotpink);
}
.dribble,
.stay-connected {
  top: 164px;
  left: 140px;
}
.stay-connected {
  top: 2104px;
  left: 1035px;
  width: 270px;
  height: 204px;
  font-size: var(--font-size-5xs);
}
.image-icon26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 290px;
  object-fit: cover;
}
.ad,
.ad1 {
  position: absolute;
  top: 122px;
  left: 113px;
}
.ad {
  top: 2333px;
  left: 1035px;
  width: 270px;
  height: 290px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-lora);
}
.all4,
.line-icon4 {
  position: absolute;
  top: 41px;
  left: 0;
  width: 870px;
  height: 1px;
}
.all4 {
  top: 5px;
  left: 462px;
  width: 28px;
  height: 24px;
}
.recipes-child,
.travel-item,
.travel2 {
  position: absolute;
  width: 51px;
  height: 24px;
}
.travel-item {
  top: 0;
  left: 0;
  background-color: var(--color-mediumpurple);
}
.recipes-child,
.travel2 {
  top: 5px;
  left: 502px;
}
.recipes-child {
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
  width: 55px;
}
.recipes1 {
  position: absolute;
  top: 3px;
  left: 10px;
}
.health-fitness-item,
.recipes {
  position: absolute;
  top: 5px;
  left: 566px;
  width: 55px;
  height: 24px;
}
.health-fitness-item {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 95px;
}
.health-fitness2,
.health-fitness3 {
  position: absolute;
  top: 3px;
  left: 9px;
}
.health-fitness2 {
  top: 5px;
  left: 633px;
  width: 95px;
  height: 24px;
}
.button-icon2,
.music,
.music-child {
  position: absolute;
  width: 57px;
  height: 24px;
}
.music-child {
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
}
.button-icon2,
.music {
  top: 5px;
  left: 740px;
}
.button-icon2 {
  left: 812px;
  width: 58px;
}
.image-icon27,
.life-style1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 870px;
  height: 42px;
}
.image-icon27 {
  width: 420px;
  height: 250px;
  object-fit: cover;
}
.institutional-delivery-vital {
  position: absolute;
  top: 293px;
  left: 0;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 420px;
}
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 377px;
  left: 0;
  font-size: var(--text-sm-normal-size);
  line-height: 111.1%;
  font-weight: 200;
  color: var(--color-darkslategray-300);
  display: inline-block;
  width: 370px;
}
.health-fitness-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
  width: 97px;
  height: 21px;
}
.health-fitness4,
.health-fitness5 {
  position: absolute;
  top: 5px;
  left: 4px;
}
.health-fitness4 {
  top: 25px;
  left: 25px;
  width: 97px;
  height: 21px;
  color: var(--white);
}
.post-15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 425px;
  font-size: var(--font-size-xs);
}
.being-self-controlled-child {
  position: absolute;
  top: 293px;
  left: 0;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 419px;
}
.health-fitness-child1,
.health-fitness6 {
  position: absolute;
  width: 103px;
  height: 21px;
}
.health-fitness-child1 {
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen);
}
.health-fitness6 {
  top: 25px;
  left: 25px;
  color: var(--white);
}
.post-25 {
  position: absolute;
  top: 0;
  left: 450px;
  width: 420px;
  height: 425px;
  font-size: var(--font-size-xs);
}
.image-icon29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 90px;
  object-fit: cover;
}
.craig-bator-container22 {
  position: absolute;
  top: 4px;
  left: 132px;
  line-height: 100.9%;
}
.best-things-you-container {
  position: absolute;
  top: 20px;
  left: 132px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-oswald);
}
.post-35 {
  position: absolute;
  top: 450px;
  left: 0;
  width: 355px;
  height: 92px;
}
.craig-bator-container23 {
  position: absolute;
  top: 4px;
  left: 133px;
  line-height: 100.9%;
}
.post-45,
.post-53,
.post-62 {
  position: absolute;
  top: 450px;
  left: 452px;
  width: 346px;
  height: 92px;
}
.post-53,
.post-62 {
  top: 565px;
  left: 0;
  width: 356px;
}
.post-62 {
  left: 452px;
  width: 355px;
}
.life-style,
.post {
  position: absolute;
  width: 870px;
}
.post {
  top: 67px;
  left: 0;
  height: 657px;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-sofia-pro);
}
.life-style {
  top: 2648px;
  left: 135px;
  height: 724px;
  font-size: var(--font-size-xs);
  font-family: var(--font-oswald);
}
.get-latest-updates-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dedada;
  width: 270px;
  height: 195px;
}
.get-latest-updates1 {
  position: absolute;
  top: 25px;
  left: 69px;
  line-height: 163.9%;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.email-adress-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 220px;
  height: 40px;
}
.your-email-address {
  position: absolute;
  top: 10px;
  left: 58px;
  line-height: 163.9%;
}
.email-adress,
.subscribe-child {
  position: absolute;
  width: 220px;
  height: 40px;
}
.email-adress {
  top: 80px;
  left: 25px;
  font-size: var(--font-size-xs);
}
.subscribe-child {
  top: 0;
  left: 0;
  background-color: var(--color-tomato-100);
}
.subscribe2 {
  position: absolute;
  top: 5px;
  left: 69px;
  line-height: 163.9%;
}
.subscribe1 {
  position: absolute;
  top: 130px;
  left: 25px;
  width: 220px;
  height: 40px;
  color: var(--white);
}
.get-latest-updates {
  position: absolute;
  top: 2648px;
  left: 1035px;
  width: 270px;
  height: 195px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
}
.categories1 {
  position: absolute;
  top: 0;
  left: 9px;
  font-weight: 500;
  font-family: var(--font-oswald);
  color: var(--color-tomato-100);
}
.categories-child,
.categories-item {
  position: absolute;
  top: 30.5px;
  left: 8.5px;
  border-top: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 271px;
  height: 1px;
}
.categories-item {
  border-top: 1px solid var(--color-tomato-100);
  width: 73px;
}
.frame-icon17 {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.child,
.div8,
.frame-icon17 {
  position: absolute;
}
.child {
  top: 0;
  left: 0;
  background-color: var(--color-tomato-100);
  width: 24px;
  height: 24px;
}
.div8 {
  top: 6px;
  left: 5px;
  line-height: 111.1%;
}
.div7,
.item,
.life-style3 {
  position: absolute;
  height: 24px;
}
.div7 {
  top: 0;
  left: 255px;
  width: 24px;
  font-size: var(--font-size-xs);
  color: var(--white);
}
.item,
.life-style3 {
  top: 56px;
  left: 0;
  width: 279px;
}
.item {
  top: 0;
  background-color: var(--color-mediumpurple);
  width: 24px;
}
.world2 {
  top: 93px;
  width: 279px;
}
.foods,
.inner,
.world2 {
  position: absolute;
  left: 0;
  height: 24px;
}
.inner {
  top: 0;
  background-color: var(--color-mediumvioletred);
  width: 24px;
}
.foods {
  top: 130px;
  width: 279px;
}
.tachnology {
  position: absolute;
  top: 4px;
  left: 27px;
  line-height: 111.1%;
}
.child1 {
  top: 0;
  left: 0;
  background-color: var(--color-mediumslateblue);
  width: 24px;
  height: 24px;
}
.child1,
.div14,
.foods2 {
  position: absolute;
}
.div14 {
  top: 6px;
  left: 6px;
  line-height: 111.1%;
}
.foods2 {
  top: 167px;
  width: 279px;
}
.child2,
.foods2,
.sports5 {
  left: 0;
  height: 24px;
}
.child2 {
  position: absolute;
  top: 0;
  background-color: var(--color-dodgerblue);
  width: 24px;
}
.sports5 {
  top: 204px;
  width: 279px;
}
.child3,
.div18,
.sports5 {
  position: absolute;
}
.child3 {
  top: 0;
  left: 0;
  background-color: var(--color-hotpink);
  width: 24px;
  height: 24px;
}
.div18 {
  top: 6px;
  left: 9px;
  line-height: 111.1%;
}
.child4,
.football2 {
  position: absolute;
  top: 241px;
  left: 0;
  width: 279px;
  height: 24px;
}
.child4 {
  top: 0;
  background-color: var(--color-deepskyblue);
  width: 24px;
}
.football4 {
  top: 278px;
  left: 0;
  width: 279px;
  height: 24px;
}
.child5,
.div22,
.football4 {
  position: absolute;
}
.child5 {
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 24px;
  height: 24px;
}
.div22 {
  top: 6px;
  left: 7px;
  line-height: 111.1%;
}
.categories,
.covid-19 {
  position: absolute;
  top: 315px;
  left: 0;
  width: 279px;
  height: 24px;
}
.categories {
  top: 2868px;
  left: 1026px;
  height: 339px;
  font-size: var(--text-sm-normal-size);
  color: var(--color-darkslategray-100);
}
.image-icon33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 871px;
  height: 120px;
  object-fit: cover;
}
.best-selling-blog-container1,
.experience-the-change1 {
  position: absolute;
  top: 32px;
  left: 37px;
  line-height: 151.1%;
}
.experience-the-change1 {
  top: 73px;
  font-family: var(--font-oswald);
  color: var(--color-tomato-100);
}
.purchase-now2 {
  top: 38px;
  left: 663px;
  width: 180px;
  height: 44px;
  font-size: var(--font-size-lg);
}
.ad2,
.all6,
.purchase-now2 {
  position: absolute;
}
.ad2 {
  top: 3420px;
  left: 135px;
  width: 871px;
  height: 120px;
  font-size: var(--text-sm-normal-size);
}
.all6 {
  top: 6px;
  left: 464px;
  width: 28px;
  height: 24px;
}
.health-fitness-child2,
.recipes2,
.travel4 {
  position: absolute;
  top: 6px;
  left: 504px;
  width: 51px;
  height: 24px;
}
.health-fitness-child2,
.recipes2 {
  left: 567px;
  width: 55px;
}
.health-fitness-child2 {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 94px;
}
.health-fitness9 {
  position: absolute;
  top: 3px;
  left: 11px;
}
.button-icon3,
.health-fitness8,
.music2 {
  position: absolute;
  top: 6px;
  left: 634px;
  width: 94px;
  height: 24px;
}
.button-icon3,
.music2 {
  left: 740px;
  width: 57px;
}
.button-icon3 {
  left: 812px;
  width: 58px;
}
.video-icon,
.video2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 870px;
}
.video2 {
  height: 42px;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-oswald);
}
.video-icon {
  height: 400px;
  object-fit: cover;
}
.video-icon1 {
  position: absolute;
  top: 92px;
  left: 416px;
  width: 70px;
  height: 70px;
}
.craig-bator-4 {
  position: absolute;
  top: 231px;
  left: 25px;
  line-height: 100.9%;
}
.play-this-game-container {
  position: absolute;
  top: 243px;
  left: 25px;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  font-family: var(--font-oswald);
}
.esport-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-crimson);
  width: 59px;
  height: 21px;
}
.esport,
.esport1 {
  position: absolute;
  top: 4px;
  left: 9px;
}
.esport {
  top: 25px;
  left: 25px;
  width: 59px;
  height: 21px;
  font-size: var(--text-sm-normal-size);
}
.video-1,
.video-icon2 {
  position: absolute;
  left: 0;
}
.video-1 {
  top: 60px;
  width: 870px;
  height: 400px;
  font-size: var(--font-size-xs);
  color: var(--white);
}
.video-icon2 {
  top: 0;
  width: 270px;
  height: 200px;
  object-fit: cover;
}
.craig-bator-container26 {
  position: absolute;
  top: 225px;
  left: 0;
  font-size: var(--font-size-3xs);
  line-height: 100.9%;
}
.video-icon3 {
  position: absolute;
  top: 81px;
  left: 116px;
  width: 38px;
  height: 38px;
}
.esport-item,
.esport2 {
  position: absolute;
  width: 59px;
  height: 21px;
}
.esport-item {
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
}
.esport2 {
  top: 25px;
  left: 25px;
  color: var(--white);
}
.failure-is-the,
.video-2 {
  position: absolute;
  left: 0;
  width: 270px;
}
.video-2 {
  top: 485px;
  height: 283px;
}
.failure-is-the {
  top: 241px;
  font-weight: 500;
  font-family: var(--font-oswald);
  display: inline-block;
}
.esport-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #26387a;
  width: 59px;
  height: 21px;
}
.video-3 {
  position: absolute;
  top: 485px;
  left: 300px;
  width: 270px;
  height: 283px;
}
.les-nouveaux-maillots-container {
  position: absolute;
  top: 241px;
  left: 0;
  font-weight: 500;
  font-family: var(--font-oswald);
  display: inline-block;
  width: 270px;
  height: 41px;
}
.esport-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fb8282;
  width: 59px;
  height: 21px;
}
.video-4,
.video1 {
  position: absolute;
  top: 485px;
  left: 600px;
  width: 270px;
  height: 282px;
}
.video1 {
  top: 3590px;
  left: 135px;
  width: 870px;
  height: 768px;
  font-size: var(--text-sm-normal-size);
  color: var(--color-darkslategray-100);
}
.image-icon34,
.image-icon35,
.image-icon36,
.image-icon37,
.image-icon38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 288px;
  height: 288px;
  object-fit: cover;
}
.image-icon35,
.image-icon36,
.image-icon37,
.image-icon38 {
  left: 288px;
}
.image-icon36,
.image-icon37,
.image-icon38 {
  left: 576px;
}
.image-icon37,
.image-icon38 {
  left: 864px;
}
.image-icon38 {
  left: 1152px;
}
.frame-icon25,
.instagram-follow-us-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 146px;
  height: 146px;
}
.frame-icon25 {
  top: 55px;
  left: 55px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.follow-us {
  position: absolute;
  top: 101px;
  left: 35px;
  font-weight: 500;
}
.instagram-follow-us1 {
  position: absolute;
  top: 71px;
  left: 647px;
  width: 146px;
  height: 146px;
}
.footer-child,
.instagram-follow-us {
  position: absolute;
  left: 0;
  width: 1440px;
}
.instagram-follow-us {
  top: 4408px;
  height: 288px;
  font-size: var(--font-size-lg);
}
.footer-child {
  top: 0;
  background-color: var(--color-darkslategray-100);
  height: 355px;
}
.logo-final-whaite-1 {
  position: absolute;
  top: 44px;
  left: 135px;
  width: 247px;
  height: 62px;
  object-fit: cover;
}
.lorem-ipsum-dolor4 {
  position: absolute;
  top: 137px;
  left: 136px;
  line-height: 148.1%;
  display: inline-block;
  width: 270px;
  height: 61px;
}
.facebook-icon1,
.instagram-icon1,
.twitter-icon1,
.youtube-icon1 {
  position: absolute;
  top: 233px;
  left: 135px;
  width: 42px;
  height: 42px;
}
.instagram-icon1,
.twitter-icon1,
.youtube-icon1 {
  left: 200px;
}
.instagram-icon1,
.youtube-icon1 {
  left: 265px;
}
.youtube-icon1 {
  left: 330px;
}
.tags1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-family: var(--font-oswald);
}
.tags-child,
.tags-item {
  position: absolute;
  top: 39.5px;
  left: -0.5px;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  width: 271px;
  height: 1px;
}
.tags-item {
  border-top: 1px solid var(--color-tomato-100);
  width: 71px;
}
.football-item,
.travel-child1,
.travel6 {
  position: absolute;
  width: 59px;
  height: 24px;
}
.travel-child1 {
  top: 0;
  left: 0;
  background-color: var(--color-royalblue-100);
}
.football-item,
.travel6 {
  top: 98px;
  left: 200px;
}
.football-item {
  top: 0;
  left: 0;
  background-color: var(--color-tomato-100);
  width: 64px;
}
.football5,
.tranding-news-child {
  position: absolute;
  top: 64px;
  left: 0;
  width: 64px;
  height: 24px;
}
.tranding-news-child {
  top: 0;
  background-color: #ffb8b8;
  width: 105px;
}
.tranding-news,
.tranding-news-item {
  position: absolute;
  top: 98px;
  left: 0;
  width: 105px;
  height: 24px;
}
.tranding-news-item {
  top: 0;
  background-color: var(--color-skyblue);
  width: 83px;
}
.technology {
  position: absolute;
  top: 5px;
  left: 6px;
}
.cricket-inner,
.tranding-news2 {
  position: absolute;
  top: 98px;
  left: 109px;
  width: 83px;
  height: 24px;
}
.cricket-inner {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 57px;
}
.covid-19-child,
.cricket5 {
  position: absolute;
  top: 64px;
  left: 68px;
  width: 57px;
  height: 24px;
}
.covid-19-child {
  top: 0;
  left: 0;
  background-color: var(--color-mediumpurple);
  width: 63px;
}
.covid-192,
.covid-193 {
  position: absolute;
  top: 5px;
  left: 5px;
}
.covid-192 {
  top: 64px;
  left: 129px;
  width: 63px;
  height: 24px;
}
.life-style-child,
.life-style5,
.tags {
  position: absolute;
  width: 69px;
  height: 24px;
}
.life-style-child {
  top: 0;
  left: 0;
  background-color: var(--color-darkgoldenrod-200);
}
.life-style5,
.tags {
  top: 64px;
  left: 201px;
}
.tags {
  top: 44px;
  left: 735px;
  width: 270px;
  height: 122px;
}
.photo-gallery2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100.9%;
  text-transform: capitalize;
}
.photo-gallery-child,
.photo-gallery-item {
  position: absolute;
  top: 33.5px;
  left: -0.5px;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  width: 271px;
  height: 1px;
}
.photo-gallery-item {
  border-top: 1px solid var(--color-tomato-100);
  width: 71px;
}
.image-icon39 {
  position: absolute;
  top: 47px;
  left: 0;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.image-icon40,
.image-icon41,
.image-icon42,
.image-icon43,
.image-icon44 {
  position: absolute;
  top: 138px;
  left: 0;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.image-icon41,
.image-icon42,
.image-icon43,
.image-icon44 {
  top: 47px;
  left: 92px;
}
.image-icon42,
.image-icon43,
.image-icon44 {
  top: 138px;
}
.image-icon43,
.image-icon44 {
  top: 47px;
  left: 184px;
}
.image-icon44 {
  top: 138px;
}
.photo-gallery1,
.stay-in-touch1 {
  position: absolute;
  font-family: var(--font-oswald);
}
.photo-gallery1 {
  top: 50px;
  left: 435px;
  width: 270px;
  height: 223px;
  font-size: var(--font-size-5xl);
}
.stay-in-touch1 {
  top: 0;
  left: 0;
}
.to-be-updated-container {
  position: absolute;
  top: 63px;
  left: 1px;
  font-size: var(--text-sm-normal-size);
  line-height: 149.1%;
}
.your-email-address-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 270px;
  height: 40px;
}
.your-email-address2 {
  position: absolute;
  top: 10px;
  left: 83px;
  line-height: 163.9%;
}
.subscribe-item,
.your-email-address1 {
  position: absolute;
  left: 0;
  width: 270px;
  height: 40px;
}
.your-email-address1 {
  top: 121px;
  font-size: var(--font-size-xs);
  color: #c4c4c4;
}
.subscribe-item {
  top: 0;
  background-color: var(--color-tomato-100);
}
.subscribe4 {
  position: absolute;
  top: 5px;
  left: 94px;
  line-height: 163.9%;
}
.subscribe3 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 270px;
  height: 40px;
  font-size: var(--font-size-lg);
}
.footer,
.stay-in-touch {
  position: absolute;
  top: 44px;
  left: 1035px;
  width: 288px;
  height: 211px;
  font-size: var(--font-size-5xl);
}
.footer {
  top: 4696px;
  left: 0;
  width: 1440px;
  height: 355px;
  font-size: var(--text-sm-normal-size);
}
.home,
.new {
  overflow: hidden;
}
.home {
  position: absolute;
  top: 85px;
  left: 29px;
  background-color: var(--white);
  width: 1341px;
  height: 4998px;
}
.new {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 5136px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--white);
  font-family: var(--font-sofia-pro);
}
