.b-ii-alam-road {
  position: absolute;
  top: 20px;
  left: 90px;
  line-height: 56px;
  display: flex;
  align-items: center;
  width: 601px;
  height: 31px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.material-symbolslocation-on-r-icon17 {
  position: absolute;
  top: 20px;
  left: 60px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div19,
.menu17,
.website17 {
  position: absolute;
  top: 18px;
  line-height: 56px;
  display: flex;
  align-items: center;
  height: 31px;
}
.div19 {
  left: 730px;
  width: 127px;
  -webkit-text-stroke: 1px #000;
}
.menu17,
.website17 {
  left: 1083px;
  text-decoration: underline;
  color: inherit;
  width: 77px;
}
.website17 {
  top: 17px;
  left: 930px;
  width: 80px;
}
.material-symbolscall-icon17 {
  position: absolute;
  top: 22px;
  left: 700px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashiconsadmin-site17,
.material-symbolsmenu-book-rou-icon17 {
  position: absolute;
  top: 22px;
  left: 900px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.material-symbolsmenu-book-rou-icon17 {
  left: 1050px;
  width: 24px;
  height: 24px;
}
.b-ii-alam-road-gulberg-iii-l-parent {
  position: absolute;
  top: 439px;
  left: 0;
  background-color: var(--color-sienna-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1600px;
  height: 57px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
}
.q3-2-icon,
.q4-1-icon {
  position: absolute;
  top: 0;
  left: 4px;
  width: 1604px;
  height: 370px;
  object-fit: cover;
}
.q3-2-icon {
  top: 237px;
  left: 124px;
  border-radius: var(--br-31xl);
  width: 113.51px;
  height: 112px;
}
.save35 {
  margin: 0;
}
.a2-1,
.save34 {
  position: absolute;
}
.save34 {
  top: 305px;
  left: 1483px;
  font-weight: 500;
  display: inline-block;
  width: 61px;
  height: 39px;
  -webkit-text-stroke: 1px #000;
}
.a2-1 {
  top: 240px;
  left: 121px;
  border-radius: var(--br-31xl);
  width: 121px;
  height: 106px;
}
.qabail-tribes2 {
  position: absolute;
  top: 287px;
  left: 264px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  -webkit-text-stroke: 1px #000;
}
.like-1-icon17 {
  position: absolute;
  top: 293px;
  left: 1414px;
  border-radius: var(--br-61xl);
  width: 51px;
  height: 45px;
}
.review17 {
  position: absolute;
  top: 305px;
  left: 1299px;
  font-weight: 500;
  -webkit-text-stroke: 1px #000;
}
.q4-1-parent,
.vector-icon42 {
  position: absolute;
  overflow: hidden;
}
.vector-icon42 {
  height: 13.62%;
  width: 3.49%;
  top: 81.47%;
  right: 20.13%;
  bottom: 4.9%;
  left: 76.37%;
  max-width: 100%;
  max-height: 100%;
}
.q4-1-parent {
  top: 72px;
  left: -4px;
  width: 1604px;
  height: 367px;
  font-size: var(--font-size-6xl);
  color: var(--cold-grey-white);
  font-family: var(--font-roboto);
}
.food-gallery17 {
  position: absolute;
  top: 532px;
  left: 76px;
  line-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 37px;
  -webkit-text-stroke: 1px #000;
}
.qabail-child {
  position: absolute;
  top: 583px;
  left: 79px;
  background-color: var(--cold-grey-white);
  width: 1377px;
  height: 271px;
  overflow: hidden;
}
.about-qabail-tribes,
.you-may-also17 {
  position: absolute;
  line-height: 56px;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 1px #000;
}
.about-qabail-tribes {
  top: 868px;
  left: 76px;
  text-align: left;
  width: 387px;
}
.you-may-also17 {
  top: 1847px;
  left: 558px;
  justify-content: center;
  width: 424px;
}
.qabail-item {
  position: absolute;
  top: 938px;
  left: 76px;
  background-color: var(--cold-grey-white);
  width: 950px;
  height: 449px;
  overflow: hidden;
}
.features-and-facilities17,
.social-networks17 {
  font-size: var(--font-size-3xl);
  font-family: var(--font-roboto-flex);
  -webkit-text-stroke: 1px #000;
}
.features-and-facilities17 {
  position: absolute;
  top: 147px;
  left: 26px;
  line-height: 56px;
}
.social-networks17 {
  top: 0;
  left: 22px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 183px;
  height: 42px;
}
.area17,
.facebook17,
.social-networks17 {
  position: absolute;
  line-height: 56px;
}
.area17 {
  top: 325px;
  left: 29px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-roboto-flex);
  -webkit-text-stroke: 1px #000;
}
.facebook17 {
  top: 76px;
  left: 55px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
}
.uiwfacebook-icon17 {
  position: absolute;
  top: 89px;
  left: 28px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.accepts-credit-cards17 {
  position: absolute;
  top: 211px;
  left: 55px;
  line-height: 56px;
}
.gulberg-iii4,
.pakistani-cuisineasianbarbec {
  position: absolute;
  top: 279px;
  left: 49px;
  line-height: 56px;
}
.gulberg-iii4 {
  top: 374px;
  left: 55px;
  display: flex;
  text-align: left;
  align-items: center;
  width: 147px;
}
.material-symbolscredit-card-icon17 {
  position: absolute;
  top: 227px;
  left: 26px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.majesticonsmap-marker-area17,
.material-symbolsbookmark-outl-icon17,
.vector-icon43 {
  position: absolute;
  top: 291px;
  left: 26px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.majesticonsmap-marker-area17,
.vector-icon43 {
  top: 390px;
}
.vector-icon43 {
  height: 4.9%;
  width: 4.85%;
  top: 50.33%;
  right: 33.99%;
  bottom: 44.77%;
  left: 61.16%;
  max-width: 100%;
  max-height: 100%;
}
.dine-in8 {
  position: absolute;
  top: 211px;
  left: 276px;
  line-height: 56px;
}
.eptakeaway-box {
  position: absolute;
  top: -281px;
  left: -267px;
  width: 1024px;
  height: 1024px;
  overflow: hidden;
}
.features-and-facilities-parent15 {
  position: absolute;
  top: 938px;
  left: 1050px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 403px;
  height: 449px;
  overflow: hidden;
  font-size: var(--font-size-lg);
}
.location17 {
  position: absolute;
  top: 1401px;
  left: 92px;
  line-height: 56px;
  -webkit-text-stroke: 1px #000;
}
.qabail-inner {
  position: absolute;
  top: 1464px;
  left: 76px;
  background-color: var(--cold-grey-white);
  width: 1380px;
  height: 344px;
  overflow: hidden;
}
.footer-42-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sienna-200);
  box-shadow: var(--shadow-200);
  width: 1600px;
  height: 153px;
}
.follow-us20,
.subscribe-to-newsletter20 {
  position: absolute;
  top: 34px;
  left: 859px;
  display: inline-block;
  width: 278px;
  height: 29px;
}
.follow-us20 {
  top: 29px;
  left: 467px;
  width: 154px;
}
.footer-42-item {
  position: absolute;
  top: 27.5px;
  left: 817.5px;
  border-right: 3px solid var(--cold-grey-10);
  box-sizing: border-box;
  width: 3px;
  height: 109px;
}
.text20 {
  position: absolute;
  height: 6.15%;
  top: 72.69%;
  left: 46.88%;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.contact-us20,
.maps20,
.privacy-policy20,
.shop20 {
  position: absolute;
  height: 100%;
  width: 26.71%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgba(79, 29, 29, 0.19);
  cursor: pointer;
}
.contact-us20,
.maps20,
.shop20 {
  width: 11.11%;
  left: 36.41%;
}
.contact-us20,
.shop20 {
  width: 9.93%;
  left: 58.16%;
}
.contact-us20 {
  width: 21.28%;
  left: 78.72%;
}
.privacy-policy-parent17 {
  position: absolute;
  height: 6.92%;
  width: 26.44%;
  top: 72%;
  right: 35.69%;
  bottom: 21.08%;
  left: 37.88%;
  font-size: var(--font-size-base);
}
.all-rights-reserved20 {
  position: absolute;
  height: 87.5%;
  width: 84.21%;
  top: 6.25%;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright20 {
  position: absolute;
  top: 221px;
  left: calc(50% - 79px);
  width: 234px;
  height: 16px;
  font-size: var(--font-size-base);
}
.subscribe-child18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cold-grey-10);
  box-shadow: 0 6px 12px -6px rgba(255, 255, 255, 0.12),
    0 8px 24px -4px rgba(255, 255, 255, 0.08);
}
.enter-your-email20 {
  position: absolute;
  width: 70.86%;
  top: 30%;
  left: 2.29%;
  display: inline-block;
}
.subscribe41 {
  position: relative;
}
.buttonstarted20 {
  position: absolute;
  height: 80%;
  width: 26.22%;
  top: 10%;
  right: 0.68%;
  bottom: 10%;
  left: 73.1%;
  background-color: var(--cold-grey-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-saddlebrown);
}
.subscribe40 {
  position: absolute;
  top: 63px;
  left: 876px;
  width: 560px;
  height: 42px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--cold-grey-30);
}
.image-41-icon20,
.image-42-icon20,
.image-43-icon20 {
  position: absolute;
  height: 100%;
  width: 44.86%;
  top: 0;
  right: 10.17%;
  bottom: 0;
  left: 44.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-42-icon20,
.image-43-icon20 {
  height: 43.39%;
  width: 29.15%;
  top: 34.06%;
  right: 38.44%;
  bottom: 22.55%;
  left: 32.41%;
}
.image-43-icon20 {
  height: 42.92%;
  width: 41.96%;
  top: 34.53%;
  right: 58.04%;
  left: 0;
}
.image-41-parent18 {
  position: absolute;
  height: 82.44%;
  width: 26.86%;
  top: -46.92%;
  right: -2.73%;
  bottom: 64.49%;
  left: 75.88%;
}
.icon46 {
  position: absolute;
  top: -34px;
  left: 58px;
  width: 398px;
  height: 181px;
  object-fit: cover;
}
.footer-42-inner {
  position: absolute;
  top: 72px;
  left: 498px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-100);
  width: 30px;
  height: 30px;
}
.footer-42-child1 {
  position: absolute;
  top: 72px;
  left: 550px;
  width: 31px;
  height: 31px;
}
.footer-42-child2 {
  position: absolute;
  top: 69px;
  left: 606px;
  width: 37px;
  height: 36px;
}
.image-135-icon20 {
  position: absolute;
  top: 63px;
  left: 540px;
  width: 51px;
  height: 48px;
  object-fit: cover;
}
.image-136-icon20,
.image-137-icon20 {
  position: absolute;
  top: 68px;
  left: 603px;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.image-137-icon20 {
  top: 67px;
  left: 664px;
  border-radius: var(--br-lg);
  width: 42px;
}
.image-134-icon20 {
  position: absolute;
  top: 71px;
  left: 495px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.footer-42 {
  position: absolute;
  top: 2364px;
  left: 0;
  background-color: var(--color-saddlebrown);
  width: 1600px;
  height: 244px;
  font-size: var(--font-size-5xl);
  color: var(--color-burlywood);
  font-family: var(--font-roboto);
}
.icon47 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 241px;
  height: 268px;
  object-fit: cover;
  cursor: pointer;
}
.icon-cart20,
.vector-icon44 {
  position: absolute;
  height: 48.82%;
  width: 2.08%;
  top: 27.79%;
  right: 2.23%;
  bottom: 23.39%;
  left: 95.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.icon-cart20 {
  height: 45.31%;
  width: 2.22%;
  top: 30.56%;
  right: 5.97%;
  bottom: 24.13%;
  left: 91.81%;
}
.activites20,
.eat20,
.events23,
.gallery23,
.kahani20,
.map20 {
  position: absolute;
  top: 21px;
  left: 1286px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 30px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.activites20,
.eat20,
.events23,
.kahani20,
.map20 {
  left: 1177px;
}
.eat20,
.events23,
.kahani20,
.map20 {
  top: 20px;
  left: 1083px;
}
.eat20,
.events23,
.kahani20 {
  left: 1017px;
}
.events23,
.kahani20 {
  left: 941px;
}
.kahani20 {
  top: 21px;
  left: 845px;
}
.icon-envelope-closed20 {
  position: absolute;
  height: 34.72%;
  width: 2.29%;
  top: 36.11%;
  right: 9.58%;
  bottom: 29.17%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.frame-child70,
.navbar20 {
  position: absolute;
  top: 0;
  left: 0;
}
.navbar20 {
  background-color: var(--color-sienna-200);
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--color-sienna-200);
  box-sizing: border-box;
  width: 1600px;
  height: 72px;
  overflow: hidden;
  font-size: var(--font-size-6xl);
  color: var(--color-burlywood);
  font-family: var(--font-actor);
}
.frame-child70 {
  border-radius: var(--br-31xl);
  width: 441px;
  height: 273px;
}
.haveli-restaurant3 {
  position: absolute;
  top: 273px;
  left: 28px;
  font-weight: 500;
  display: inline-block;
  width: 413px;
  height: 33px;
}
.y2-161 {
  position: absolute;
  top: 167px;
  left: 32px;
  border-radius: var(--br-31xl);
  width: 112px;
  height: 105.06px;
}
.barbecuepakistani3 {
  position: absolute;
  top: calc(50% + 137px);
  left: calc(50% - 192.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: inline-block;
  width: 188px;
  height: 28px;
}
.frame-parent82,
.rating-component-icon72 {
  position: absolute;
  top: 306px;
  left: 273px;
  width: 129px;
  height: 22px;
}
.frame-parent82 {
  top: 4px;
  left: 22px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  overflow: hidden;
  cursor: pointer;
}
.icon48 {
  position: absolute;
  top: 167px;
  left: 31px;
  border-radius: var(--br-31xl);
  width: 110px;
  height: 106px;
  object-fit: cover;
}
.barbecueasian3,
.monal1 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.monal1 {
  top: 275px;
  left: 0;
  width: 146px;
  height: 22px;
}
.barbecueasian3 {
  top: calc(50% + 139px);
  left: calc(50% - 220.5px);
  font-size: var(--font-size-lg);
  width: 192px;
  height: 28px;
}
.frame-parent83,
.rating-component-icon73 {
  position: absolute;
  top: 303px;
  left: 274px;
  width: 129px;
  height: 22px;
}
.frame-parent83 {
  top: 6px;
  left: 481px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.frame-child72 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 441px;
  height: 268px;
}
.saltn-pepper2,
.y2-162 {
  position: absolute;
  left: 32px;
}
.saltn-pepper2 {
  top: 273px;
  font-weight: 500;
  display: inline-block;
  width: 409px;
  height: 28px;
}
.y2-162 {
  top: 167px;
  border-radius: var(--br-31xl);
  width: 113px;
  height: 106px;
}
.asianpakistani3 {
  position: absolute;
  top: calc(50% + 135px);
  left: calc(50% - 188.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: inline-block;
  width: 208px;
  height: 28px;
}
.rating-component-icon74 {
  position: absolute;
  top: 307px;
  left: 274px;
  width: 129px;
  height: 22px;
}
.frame-parent81,
.frame-parent84 {
  position: absolute;
  overflow: hidden;
}
.frame-parent84 {
  top: 4px;
  left: 939px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  cursor: pointer;
}
.frame-parent81 {
  top: 1932px;
  left: 76px;
  width: 1380px;
  height: 344px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--cold-grey-white);
  font-family: var(--font-roboto);
}
.qabail {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 2608px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-libre-bodoni);
}
