.icon2 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 241px;
  height: 268px;
  object-fit: cover;
  cursor: pointer;
}
.icon-cart1,
.vector-icon1 {
  position: absolute;
  height: 48.82%;
  width: 2.08%;
  top: 27.79%;
  right: 2.23%;
  bottom: 23.39%;
  left: 95.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.icon-cart1 {
  height: 45.31%;
  width: 2.22%;
  top: 30.56%;
  right: 5.97%;
  bottom: 24.13%;
  left: 91.81%;
}
.activites1,
.eat1,
.events2,
.gallery2,
.kahani1,
.map1 {
  position: absolute;
  top: 21px;
  left: 1286px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 30px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.activites1,
.eat1,
.events2,
.kahani1,
.map1 {
  left: 1177px;
}
.eat1,
.events2,
.kahani1,
.map1 {
  top: 20px;
  left: 1083px;
}
.eat1,
.events2,
.kahani1 {
  left: 1017px;
}
.events2,
.kahani1 {
  left: 941px;
}
.kahani1 {
  top: 21px;
  left: 845px;
}
.icon-envelope-closed1 {
  position: absolute;
  height: 34.72%;
  width: 2.29%;
  top: 36.11%;
  right: 9.58%;
  bottom: 29.17%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.navbar1 {
  top: 0;
  left: -2px;
  background-color: var(--color-sienna-200);
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--color-sienna-200);
  box-sizing: border-box;
  height: 72px;
  overflow: hidden;
  font-size: var(--font-size-6xl);
  color: var(--color-burlywood);
  font-family: var(--font-actor);
}
.div1,
.group,
.icon3,
.navbar1 {
  position: absolute;
  width: 1600px;
}
.div1 {
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  height: 247px;
}
.group,
.icon3 {
  height: 367px;
}
.icon3 {
  top: 0;
  right: 0;
  object-fit: cover;
}
.group {
  top: 72px;
  left: 0;
  overflow: hidden;
}
.discover-top-restaurants {
  position: absolute;
  top: 529px;
  left: calc(50% - 290px);
  font-size: var(--font-size-17xl);
  font-weight: 500;
  color: var(--color-darkred);
  -webkit-text-stroke: 1px #000;
}
.restaurants-in-lahore {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 251px);
  line-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 502px;
  height: 38px;
  -webkit-text-stroke: 1px #000;
}
.restaurants-in-lahore-wrapper {
  position: absolute;
  top: 439px;
  left: 0;
  background-color: var(--color-sienna-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1600px;
  height: 57px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-libre-bodoni);
}
.frame-child6,
.icon4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 441px;
  height: 273px;
}
.icon4 {
  top: 167px;
  left: 31px;
  width: 110px;
  height: 106px;
  object-fit: cover;
}
.barbecueasian,
.monal {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.monal {
  top: 275px;
  left: 0;
  width: 146px;
  height: 22px;
}
.barbecueasian {
  top: calc(50% + 139px);
  left: calc(50% - 220.5px);
  font-size: var(--font-size-lg);
  width: 192px;
  height: 28px;
}
.rating-component-icon9 {
  position: absolute;
  top: 303px;
  left: 274px;
  width: 129px;
  height: 22px;
}
.frame-parent5,
.yum-chinese {
  position: absolute;
  width: 441px;
}
.frame-parent5 {
  top: 1563px;
  left: 108px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  height: 338px;
  overflow: hidden;
  cursor: pointer;
}
.yum-chinese {
  top: 273px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  height: 26px;
}
.y2-1-icon {
  position: absolute;
  top: 167px;
  left: 32px;
  border-radius: var(--br-31xl);
  width: 113px;
  height: 106px;
  object-fit: cover;
}
.chineseasian {
  position: absolute;
  top: calc(50% + 137px);
  left: calc(50% - 214.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: inline-block;
  width: 159px;
  height: 28px;
}
.frame-parent6,
.rating-component-icon10 {
  position: absolute;
  top: 306px;
  left: 273px;
  width: 129px;
  height: 22px;
}
.frame-parent6 {
  top: 680px;
  left: 102px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  overflow: hidden;
  cursor: pointer;
}
.dynasty1 {
  margin: 0;
}
.dynasty,
.y2-18 {
  position: absolute;
}
.dynasty {
  top: 273px;
  left: 28px;
  font-weight: 500;
  display: inline-block;
  width: 413px;
  height: 33px;
}
.y2-18 {
  top: 167px;
  left: 32px;
  border-radius: var(--br-31xl);
  width: 112px;
  height: 105.06px;
}
.chineseasian1 {
  position: absolute;
  top: calc(50% + 137px);
  left: calc(50% - 214.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 159px;
  height: 28px;
}
.frame-parent7 {
  position: absolute;
  top: 1076px;
  left: 108px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.italianmediterranean {
  position: absolute;
  top: calc(50% + 137px);
  left: calc(50% - 192.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: inline-block;
  width: 188px;
  height: 28px;
}
.frame-parent8,
.frame-parent9 {
  position: absolute;
  top: 1076px;
  left: 580px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.frame-parent9 {
  top: 1563px;
}
.andaaz-restaurant {
  position: absolute;
  top: 273px;
  left: 32px;
  font-weight: 500;
  display: inline-block;
  width: 409px;
  height: 28px;
}
.y2-111 {
  position: absolute;
  top: 167px;
  left: 32px;
  border-radius: var(--br-31xl);
  width: 113px;
  height: 106px;
}
.pakistani {
  position: absolute;
  top: calc(50% + 135px);
  left: calc(50% - 188.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: inline-block;
  width: 159px;
  height: 28px;
}
.rating-component-icon14 {
  position: absolute;
  top: 307px;
  left: 274px;
  width: 129px;
  height: 22px;
}
.frame-parent10,
.frame-parent11 {
  position: absolute;
  top: 680px;
  left: 580px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.frame-parent11 {
  top: 1076px;
  left: 1052px;
}
.frame-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 441px;
  height: 271px;
}
.middle-easternpakistani {
  position: absolute;
  top: calc(50% + 135px);
  left: calc(50% - 188.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: inline-block;
  width: 208px;
  height: 28px;
}
.frame-parent12 {
  position: absolute;
  top: 1563px;
  left: 1056px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.b2-1-icon,
.b2-1-parent,
.frame-child14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 441px;
}
.b2-1-icon {
  height: 242px;
  object-fit: cover;
}
.b2-1-parent,
.frame-child14 {
  border-radius: var(--br-31xl);
  height: 267px;
}
.b2-1-parent {
  top: 1944px;
  left: 1056px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  height: 338px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.frame-child15,
.frame-parent13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 441px;
  height: 268px;
}
.frame-parent13 {
  top: 1944px;
  left: 580px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  height: 338px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.frame-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 441px;
  height: 270px;
}
.barbecueasian1 {
  position: absolute;
  top: calc(50% + 135px);
  left: calc(50% - 188.5px);
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: inline-block;
  width: 204px;
  height: 25px;
}
.frame-parent14,
.frame-parent15 {
  position: absolute;
  top: 1946px;
  left: 102px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-100);
  width: 441px;
  height: 338px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.frame-parent15 {
  top: 680px;
  left: 1052px;
}
.fine-dining,
.local-cuisine {
  position: absolute;
  top: 605px;
  left: calc(50% - 696px);
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-darkred);
  width: 231px;
  -webkit-text-stroke: 1px #000;
}
.local-cuisine {
  top: 1487px;
  left: calc(50% - 672px);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sienna-200);
  box-shadow: var(--shadow-200);
  width: 1600px;
  height: 153px;
}
.follow-us1,
.subscribe-to-newsletter1 {
  position: absolute;
  top: 34px;
  left: 859px;
  display: inline-block;
  width: 278px;
  height: 29px;
}
.follow-us1 {
  top: 29px;
  left: 467px;
  width: 154px;
}
.line-div {
  position: absolute;
  top: 27.5px;
  left: 817.5px;
  border-right: 3px solid var(--cold-grey-10);
  box-sizing: border-box;
  width: 3px;
  height: 109px;
}
.text1 {
  position: absolute;
  height: 6.15%;
  top: 72.69%;
  left: 46.88%;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.contact-us1,
.maps1,
.privacy-policy1,
.shop1 {
  position: absolute;
  height: 100%;
  width: 26.71%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgba(79, 29, 29, 0.19);
  cursor: pointer;
}
.contact-us1,
.maps1,
.shop1 {
  width: 11.11%;
  left: 36.41%;
}
.contact-us1,
.shop1 {
  width: 9.93%;
  left: 58.16%;
}
.contact-us1 {
  width: 21.28%;
  left: 78.72%;
}
.privacy-policy-group {
  position: absolute;
  height: 6.92%;
  width: 26.44%;
  top: 72%;
  right: 35.69%;
  bottom: 21.08%;
  left: 37.88%;
  font-size: var(--font-size-base);
}
.all-rights-reserved1 {
  position: absolute;
  height: 87.5%;
  width: 84.21%;
  top: 6.25%;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright1 {
  position: absolute;
  top: 221px;
  left: calc(50% - 79px);
  width: 234px;
  height: 16px;
  font-size: var(--font-size-base);
}
.subscribe-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cold-grey-10);
  box-shadow: 0 6px 12px -6px rgba(255, 255, 255, 0.12),
    0 8px 24px -4px rgba(255, 255, 255, 0.08);
}
.enter-your-email1 {
  position: absolute;
  width: 70.86%;
  top: 30%;
  left: 2.29%;
  display: inline-block;
}
.subscribe3 {
  position: relative;
}
.buttonstarted1 {
  position: absolute;
  height: 80%;
  width: 26.22%;
  top: 10%;
  right: 0.68%;
  bottom: 10%;
  left: 73.1%;
  background-color: var(--cold-grey-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-saddlebrown);
}
.subscribe2 {
  position: absolute;
  top: 63px;
  left: 876px;
  width: 560px;
  height: 42px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--cold-grey-30);
}
.image-41-icon1,
.image-42-icon1,
.image-43-icon1 {
  position: absolute;
  height: 100%;
  width: 44.86%;
  top: 0;
  right: 10.17%;
  bottom: 0;
  left: 44.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-42-icon1,
.image-43-icon1 {
  height: 43.39%;
  width: 29.15%;
  top: 34.06%;
  right: 38.44%;
  bottom: 22.55%;
  left: 32.41%;
}
.image-43-icon1 {
  height: 42.92%;
  width: 41.96%;
  top: 34.53%;
  right: 58.04%;
  left: 0;
}
.image-41-group {
  position: absolute;
  height: 82.44%;
  width: 26.86%;
  top: -46.92%;
  right: -2.73%;
  bottom: 64.49%;
  left: 75.88%;
}
.icon5 {
  position: absolute;
  top: -34px;
  left: 58px;
  width: 398px;
  height: 181px;
  object-fit: cover;
}
.footer-38-child2 {
  position: absolute;
  top: 72px;
  left: 498px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-100);
  width: 30px;
  height: 30px;
}
.footer-38-child3 {
  position: absolute;
  top: 72px;
  left: 550px;
  width: 31px;
  height: 31px;
}
.footer-38-child4 {
  position: absolute;
  top: 69px;
  left: 606px;
  width: 37px;
  height: 36px;
}
.image-135-icon1,
.image-136-icon1,
.image-137-icon1 {
  position: absolute;
  top: 63px;
  left: 540px;
  width: 51px;
  height: 48px;
  object-fit: cover;
}
.image-136-icon1,
.image-137-icon1 {
  top: 68px;
  left: 603px;
  width: 41px;
  height: 38px;
}
.image-137-icon1 {
  top: 67px;
  left: 664px;
  border-radius: var(--br-lg);
  width: 42px;
}
.image-134-icon1 {
  position: absolute;
  top: 71px;
  left: 495px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.footer-381 {
  position: absolute;
  top: 3146px;
  left: 0;
  background-color: var(--color-saddlebrown);
  width: 1600px;
  height: 244px;
  font-size: var(--font-size-5xl);
  color: var(--color-burlywood);
}
.more-in-lahore1 {
  position: absolute;
  top: 2408px;
  left: calc(50% - 140px);
  font-size: var(--font-size-21xl);
  font-weight: 500;
  color: var(--color-darkred);
  -webkit-text-stroke: 1px #000;
}
.image-98-icon1 {
  position: absolute;
  height: 49.89%;
  width: 30.21%;
  top: 19.09%;
  right: 67.25%;
  bottom: 31.02%;
  left: 2.54%;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.activities1,
.image-105-icon1 {
  position: absolute;
  top: 332px;
  left: 164px;
}
.image-105-icon1 {
  height: 52.06%;
  width: 30.71%;
  top: 17.79%;
  right: 34.12%;
  bottom: 30.15%;
  left: 35.17%;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.gallery3,
.image-106-icon1 {
  position: absolute;
  top: 332px;
  left: 709px;
}
.image-106-icon1 {
  height: 51.63%;
  width: 30.57%;
  top: 18.22%;
  right: 1.37%;
  bottom: 30.15%;
  left: 68.06%;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.events3,
.image-98-group {
  position: absolute;
  top: 332px;
  left: 1251px;
}
.image-98-group {
  top: 2559px;
  left: 0;
  width: 1600px;
  height: 461px;
  overflow: hidden;
  font-size: var(--font-size-36xl);
  color: var(--color-black);
  font-family: var(--font-libre-bodoni);
}
.restaurant {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 3390px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--cold-grey-white);
  font-family: var(--font-roboto);
}
