@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.hint-text {
  position: absolute;
  top: 321px;
  left: 610px;
  line-height: 20px;
  display: none;
  width: 320px;
  height: 19px;
}
.footer-37-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sienna-200);
  box-shadow: var(--shadow-200);
  width: 1600px;
  height: 153px;
}
.follow-us19,
.subscribe-to-newsletter19 {
  position: absolute;
  top: 34px;
  left: 859px;
  display: inline-block;
  width: 278px;
  height: 29px;
}
.follow-us19 {
  top: 29px;
  left: 467px;
  width: 154px;
}
.footer-37-child3 {
  position: absolute;
  top: 27.5px;
  left: 817.5px;
  border-right: 3px solid var(--cold-grey-10);
  box-sizing: border-box;
  width: 3px;
  height: 109px;
}
.text19 {
  position: absolute;
  height: 6.15%;
  top: 72.69%;
  left: 46.88%;
  font-size: var(--text-sm-normal-size);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.contact-us20,
.maps20,
.privacy-policy19,
.shop19 {
  position: absolute;
  height: 100%;
  width: 26.71%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgba(79, 29, 29, 0.19);
  cursor: pointer;
}
.contact-us20,
.maps20,
.shop19 {
  width: 11.11%;
  left: 36.41%;
}
.contact-us20,
.shop19 {
  width: 9.93%;
  left: 58.16%;
}
.contact-us20 {
  width: 21.28%;
  left: 78.72%;
}
.privacy-policy-parent17 {
  position: absolute;
  height: 6.92%;
  width: 26.44%;
  top: 72%;
  right: 35.69%;
  bottom: 21.08%;
  left: 37.88%;
  font-size: var(--text-md-medium-size);
}
.all-rights-reserved19 {
  position: absolute;
  height: 87.5%;
  width: 84.21%;
  top: 6.25%;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright19 {
  position: absolute;
  top: 221px;
  left: calc(50% - 79px);
  width: 234px;
  height: 16px;
  font-size: var(--text-md-medium-size);
}
.subscribe-child17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cold-grey-10);
  box-shadow: 0 6px 12px -6px rgba(255, 255, 255, 0.12),
    0 8px 24px -4px rgba(255, 255, 255, 0.08);
}
.enter-your-email19 {
  position: absolute;
  width: 70.86%;
  top: 30%;
  left: 2.29%;
  display: inline-block;
}
.subscribe39 {
  position: relative;
}
.buttonstarted19 {
  position: absolute;
  height: 80%;
  width: 26.22%;
  top: 10%;
  right: 0.68%;
  bottom: 10%;
  left: 73.1%;
  background-color: var(--cold-grey-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--text-sm-normal-size);
  color: var(--color-saddlebrown);
}
.subscribe38 {
  position: absolute;
  top: 63px;
  left: 876px;
  width: 560px;
  height: 42px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--cold-grey-30);
}
.image-41-icon19,
.image-42-icon19,
.image-43-icon19 {
  position: absolute;
  height: 100%;
  width: 44.86%;
  top: 0;
  right: 10.17%;
  bottom: 0;
  left: 44.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-42-icon19,
.image-43-icon19 {
  height: 43.39%;
  width: 29.15%;
  top: 34.06%;
  right: 38.44%;
  bottom: 22.55%;
  left: 32.41%;
}
.image-43-icon19 {
  height: 42.92%;
  width: 41.96%;
  top: 34.53%;
  right: 58.04%;
  left: 0;
}
.image-41-parent17 {
  position: absolute;
  height: 82.44%;
  width: 26.86%;
  top: -46.92%;
  right: -2.73%;
  bottom: 64.49%;
  left: 75.88%;
}
.icon40 {
  position: absolute;
  top: -34px;
  left: 58px;
  width: 398px;
  height: 181px;
  object-fit: cover;
}
.footer-37-child4 {
  position: absolute;
  top: 72px;
  left: 498px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-100);
  width: 30px;
  height: 30px;
}
.footer-37-child5 {
  position: absolute;
  top: 72px;
  left: 550px;
  width: 31px;
  height: 31px;
}
.footer-37-child6 {
  position: absolute;
  top: 69px;
  left: 606px;
  width: 37px;
  height: 36px;
}
.image-135-icon19 {
  position: absolute;
  top: 63px;
  left: 540px;
  width: 51px;
  height: 48px;
  object-fit: cover;
}
.image-136-icon19,
.image-137-icon19 {
  position: absolute;
  top: 68px;
  left: 603px;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.image-137-icon19 {
  top: 67px;
  left: 664px;
  border-radius: var(--br-lg);
  width: 42px;
}
.image-134-icon19 {
  position: absolute;
  top: 71px;
  left: 495px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.footer-371 {
  position: absolute;
  top: 906px;
  left: 0;
  background-color: var(--color-saddlebrown);
  width: 1600px;
  height: 250px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-burlywood);
  font-family: var(--font-roboto);
}
.hint-text1,
.hint-text2,
.hint-text3,
.hint-text4 {
  position: absolute;
  left: 287px;
  line-height: 20px;
  display: none;
  width: 320px;
}
.hint-text1 {
  top: 184px;
  height: 19px;
}
.hint-text2,
.hint-text3,
.hint-text4 {
  top: 279px;
}
.hint-text3,
.hint-text4 {
  top: 375px;
  height: 19px;
}
.hint-text4 {
  top: 552px;
}
.hint-text-parent,
.reviews-child {
  position: absolute;
  top: 137px;
  background-color: var(--cold-grey-white);
  height: 618px;
  overflow: hidden;
}
.hint-text-parent {
  left: 67px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 514px;
}
.reviews-child {
  left: 594px;
  width: 927px;
}
.icon41 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 241px;
  height: 268px;
  object-fit: cover;
  cursor: pointer;
}
.icon-cart18,
.vector-icon43 {
  position: absolute;
  height: 48.82%;
  width: 2.08%;
  top: 27.79%;
  right: 2.23%;
  bottom: 23.39%;
  left: 95.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.icon-cart18 {
  height: 45.31%;
  width: 2.22%;
  top: 30.56%;
  right: 5.97%;
  bottom: 24.13%;
  left: 91.81%;
}
.activites18,
.eat18,
.events18,
.gallery19,
.kahani19,
.map18 {
  position: absolute;
  top: 21px;
  left: 1286px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 30px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.activites18,
.eat18,
.events18,
.kahani19,
.map18 {
  left: 1177px;
}
.eat18,
.events18,
.kahani19,
.map18 {
  top: 20px;
  left: 1083px;
}
.eat18,
.events18,
.kahani19 {
  left: 1017px;
}
.events18,
.kahani19 {
  left: 941px;
}
.kahani19 {
  top: 21px;
  left: 845px;
}
.icon-envelope-closed18 {
  position: absolute;
  height: 34.72%;
  width: 2.29%;
  top: 36.11%;
  right: 9.58%;
  bottom: 29.17%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.navbar18,
.reviews {
  box-sizing: border-box;
  overflow: hidden;
}
.navbar18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sienna-200);
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--color-sienna-200);
  width: 1600px;
  height: 72px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-burlywood);
  font-family: var(--font-actor);
}
.reviews {
  position: relative;
  background-color: var(--color-burlywood);
  border: 1px solid var(--color-black);
  width: 100%;
  height: 1156px;
  opacity: 0;
  text-align: left;
  font-size: var(--text-sm-normal-size);
  color: var(--gray-500);
  font-family: var(--text-sm-normal);
}
.reviews.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
