.navbarIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 90px;
  overflow: hidden;
}
.signupChild {
  position: absolute;
  top: 232px;
  left: 720px;
  background-color: #9e6240;
  width: 644px;
  height: 559px;
}
.facebook {
  position: absolute;
  top: 9px;
  left: 74px;
}
.facebookParent,
.ictwotoneFacebookIcon {
  position: absolute;
  overflow: hidden;
}
.ictwotoneFacebookIcon {
  top: 5px;
  left: 34px;
  width: 30px;
  height: 30px;
}
.facebookParent {
  top: 716px;
  left: 1060px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-snow-100);
  box-sizing: border-box;
  width: 225px;
  height: 40px;
  font-size: var(--font-size-lg);
  color: var(--white);
}
.alreadyHaveAn,
.firstName {
  position: absolute;
  top: 676px;
  left: 787px;
  display: inline-block;
  width: 273px;
}
.firstName {
  top: 335px;
  width: 145px;
}
.cpassInputField,
.passInputField {
  position: absolute;
  top: 544px;
  left: 1060px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-lavenderblush);
  box-sizing: border-box;
  width: 269px;
  height: 41px;
  overflow: hidden;
}
.passInputField {
  left: 774px;
  width: 268px;
}
.email,
.password {
  position: absolute;
  top: 428px;
  left: 787px;
  display: inline-block;
  width: 145px;
}
.password {
  top: 521px;
}
.mailInputField {
  position: absolute;
  top: 451px;
  left: 773px;
  border-radius: var(--br-5xs);
  border: 1px solid #fcf7f7;
  box-sizing: border-box;
  width: 556px;
  height: 41px;
  overflow: hidden;
}
.confirmPassword {
  position: absolute;
  top: 521px;
  left: 1068px;
  display: inline-block;
  width: 145px;
}
.lnameInputField {
  position: absolute;
  top: 358px;
  left: 1060px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-lavenderblush);
  box-sizing: border-box;
  width: 269px;
  height: 41px;
  overflow: hidden;
}
.createAccount,
.lastName {
  position: absolute;
  display: inline-block;
}
.lastName {
  top: 339px;
  left: 1087px;
  width: 145px;
}
.createAccount {
  top: 284px;
  left: 918px;
  font-size: 32px;
  color: var(--white);
  width: 266px;
}
.f08dfb3731B1Icon,
.signupItem {
  position: absolute;
  top: 232px;
  left: 76px;
  width: 644px;
  height: 559px;
}
.signupItem {
  background-color: #ecb99c;
}
.f08dfb3731B1Icon {
  object-fit: cover;
}
.fnameInputField,
.signupInner {
  position: absolute;
}
.signupInner {
  top: 150.5px;
  left: -1396px;
  width: 644px;
  height: 559px;
}
.fnameInputField {
  top: 358px;
  left: 773px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-lavenderblush);
  box-sizing: border-box;
  width: 269px;
  height: 41px;
  overflow: hidden;
}
.createAccount2 {
  margin: 0;
}
.createAccountTxtContainer {
  line-break: anywhere;
  width: 100%;
}
.createAccount1 {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 58.5px);
  display: flex;
  align-items: center;
  width: 145px;
  height: 30px;
}
.createAccountWrapper {
  position: absolute;
  top: 617px;
  left: 773px;
  border-radius: var(--br-5xs);
  background-color: #120101;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 553px;
  height: 47px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.google {
  position: absolute;
  top: 9px;
  left: 76px;
}
.googleParent,
.ionlogoGoogleIcon {
  position: absolute;
  overflow: hidden;
}
.ionlogoGoogleIcon {
  top: 5px;
  left: 36px;
  width: 30px;
  height: 30px;
}
.googleParent {
  top: 716px;
  left: 787px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-snow-100);
  box-sizing: border-box;
  width: 225px;
  height: 40px;
  font-size: var(--font-size-lg);
  color: var(--white);
}
.signup {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 1053px;
  overflow: hidden;
  text-align: left;
  font-size: var(--input-labels-size);
  color: var(--color-whitesmoke-100);
  font-family: var(--input-labels);
}
