.navbarIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 90px;
  overflow: hidden;
}
.frameChild {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--br-3xs);
  background-color: var(--color-saddlebrown);
  width: 158px;
  height: 47px;
}
.activities {
  position: absolute;
  top: 18px;
  left: 39px;
  letter-spacing: 0.01em;
}
.rectangleParent {
  position: relative;
  width: 178px;
  height: 67px;
  flex-shrink: 0;
}
.contactUs,
.eat,
.gallery,
.kahani,
.news,
.recs {
  position: absolute;
  top: 18px;
  left: 60px;
  letter-spacing: 0.01em;
}
.contactUs,
.eat,
.gallery,
.kahani,
.recs {
  left: 70px;
}
.contactUs,
.gallery,
.kahani,
.recs {
  left: 52px;
}
.contactUs,
.gallery,
.recs {
  left: 51px;
}
.contactUs,
.recs {
  left: 65px;
}
.contactUs {
  left: 30px;
}
.frameParent {
  position: absolute;
  height: 90.08%;
  width: 99.94%;
  top: 9.92%;
  right: 0.06%;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector3Icon {
  position: relative;
  width: 34.11px;
  height: 25.83px;
  flex-shrink: 0;
}
.vector3Wrapper {
  position: absolute;
  height: 7.7%;
  width: 30.38%;
  top: 0;
  right: 0;
  bottom: 92.3%;
  left: 69.62%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu {
  position: absolute;
  top: 12px;
  left: 1250px;
  width: 178.11px;
  height: 595px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-burlywood);
  font-family: var(--font-im-fell-great-primer);
}
.signupChild {
  position: absolute;
  top: 232px;
  left: 720px;
  background-color: #582626;
  width: 644px;
  height: 559px;
}
.signUp {
  position: absolute;
  top: 359px;
  left: 998px;
  display: inline-block;
  width: 341px;
  height: 153px;
}
.signupInner,
.signupItem {
  position: absolute;
  width: 644px;
  height: 559px;
}
.signupItem {
  top: 232px;
  left: 76px;
  background-color: #9e6240;
}
.signupInner {
  top: 150.5px;
  left: -1396px;
}
.doNotHave,
.signUp1 {
  position: absolute;
  display: inline-block;
}
.doNotHave {
  top: 632px;
  left: 219px;
  font-size: var(--text-xl-normal-size);
  width: 324px;
  height: 30px;
  cursor: pointer;
}
.signUp1 {
  top: 362px;
  left: 278px;
  width: 341px;
  height: 153px;
}
.signup {
  position: relative;
  background-color: var(--color-burlywood);
  width: 100%;
  height: 1053px;
  overflow: hidden;
  text-align: left;
  font-size: var(--display-md-semibold-size);
  color: var(--white);
  font-family: var(--text-md-medium);
}
