.cmsPageIcon,
.rectangleIcon {
  position: absolute;
  object-fit: cover;
}
.rectangleIcon {
  height: 100%;
  width: 48.96%;
  top: 100%;
  right: 2.64%;
  bottom: -100%;
  left: 48.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.02;
}
.cmsPageIcon {
  top: 459px;
  left: 52px;
}
.cmsPageIcon,
.cmsPageIcon1 {
  width: 827.32px;
  height: 1257.12px;
}
.cmsPageIcon1,
.cmsPageIcon2,
.homePageIcon {
  position: absolute;
  object-fit: cover;
}
.cmsPageIcon1 {
  top: 1078.49px;
  left: 735.16px;
}
.cmsPageIcon2 {
  top: 405.04px;
  left: 734.87px;
  width: 826.95px;
  height: 641.65px;
}
.homePageIcon {
  top: 363.74px;
  left: -94.33px;
  width: 799.29px;
  height: 1409.13px;
}
.screenshots {
  position: absolute;
  top: -381px;
  left: 720.22px;
  width: 2098.76px;
  height: 2076.27px;
  transform: rotate(14.54deg);
  transform-origin: 0 0;
}
.cmsPageIcon3 {
  position: absolute;
  top: 352px;
  left: 360px;
  width: 827px;
  height: 642px;
  object-fit: cover;
}
.restaurantWebsite {
  margin: 0;
}
.restaurantWebsiteDesignContainer {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  display: inline-block;
  width: 623px;
}
.title {
  position: absolute;
  top: 66px;
  left: 72px;
  width: 1187px;
  height: 994px;
}
.thumbnail {
  position: relative;
  background: linear-gradient(180deg, #ffc53e, rgba(255, 197, 62, 0.8)), #fff;
  width: 100%;
  height: 900px;
  overflow: hidden;
  display: none;
  text-align: left;
  font-size: 90px;
  color: #5b0117;
  font-family: var(--input-labels);
}
