.component-1variant3-child {
  position: absolute;
  height: 78.55%;
  width: 97.17%;
  top: 15.16%;
  right: 2.09%;
  bottom: 6.28%;
  left: 0.74%;
  background-color: var(--color-saddlebrown-400);
}
.component-1variant3-item {
  position: absolute;
  height: 58.47%;
  width: 38.99%;
  top: 15.71%;
  right: 12.89%;
  bottom: 25.82%;
  left: 48.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lahore2,
.through-lens {
  position: absolute;
  height: 87.65%;
  width: 78.58%;
  top: 0;
  left: 1.61%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.through-lens {
  height: 40.74%;
  width: 100%;
  top: 59.26%;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lucida-handwriting);
}
.icon,
.lahore-parent {
  position: absolute;
  height: 33.2%;
  width: 41.9%;
  top: 39.89%;
  right: 11.61%;
  bottom: 26.91%;
  left: 46.49%;
}
.icon {
  height: 68.31%;
  width: 33.74%;
  top: 16.53%;
  right: 1.35%;
  bottom: 15.16%;
  left: 64.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child13,
.group-child14 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
}
.group-child13 {
  width: 84.16%;
  right: 15.84%;
  left: 0;
  filter: blur(26px);
}
.group-child14 {
  width: 61.39%;
  right: 0;
  left: 38.61%;
}
.rectangle-parent12 {
  position: absolute;
  height: 78.55%;
  width: 6.82%;
  top: 15.16%;
  right: 0;
  bottom: 6.28%;
  left: 93.18%;
}
.group-child15,
.group-child16 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.group-child15 {
  width: 100%;
  right: 0;
  filter: blur(26px);
}
.group-child16 {
  width: 72.94%;
  right: 27.06%;
}
.rectangle-parent13 {
  position: absolute;
  height: 78.55%;
  width: 5.74%;
  top: 15.03%;
  right: 94.26%;
  bottom: 6.42%;
  left: 0;
}
.image-40-icon,
.image-7-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-7-icon {
  height: 86.09%;
  width: 75.48%;
  top: 7.63%;
  right: 11.46%;
  bottom: 6.28%;
  left: 13.06%;
  border-radius: var(--br-10xl);
}
.image-40-parent {
  position: absolute;
  height: 91.26%;
  width: 28.48%;
  top: 8.74%;
  right: 71.46%;
  bottom: 0;
  left: 0.07%;
}
.image-41-icon,
.image-42-icon,
.image-43-icon {
  position: absolute;
  height: 100%;
  width: 55.02%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 44.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-42-icon,
.image-43-icon {
  height: 43.39%;
  width: 29.15%;
  top: 34.06%;
  right: 38.44%;
  bottom: 22.55%;
  left: 32.41%;
}
.image-43-icon {
  height: 42.92%;
  width: 41.96%;
  top: 34.53%;
  right: 58.04%;
  left: 0;
}
.image-41-parent {
  position: absolute;
  height: 29.28%;
  width: 26.86%;
  top: 0;
  right: 0.07%;
  bottom: 70.72%;
  left: 73.08%;
}
.component-1variant3,
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 732px;
}
.group-child17 {
  top: 182px;
  left: 100px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image-46-icon,
.image-48-icon {
  position: absolute;
  top: 226px;
  left: 1225px;
  width: 200px;
  height: 230px;
  object-fit: cover;
}
.image-46-icon {
  top: 329px;
  left: 995px;
  border-radius: var(--br-9xl);
  width: 237px;
  height: 371px;
}
.image-40-icon1,
.image-41-icon1,
.image-42-icon1,
.image-44-icon {
  position: absolute;
  top: 365px;
  left: 191px;
  border-radius: var(--br-9xl);
  width: 300px;
  height: 346px;
  object-fit: cover;
}
.image-40-icon1,
.image-41-icon1,
.image-42-icon1 {
  top: 3px;
  width: 246px;
  height: 308px;
}
.image-41-icon1,
.image-42-icon1 {
  top: 0;
  left: 465px;
  width: 237px;
  height: 299px;
}
.image-42-icon1 {
  left: 730px;
  width: 253px;
  height: 287px;
}
.image-43-icon1 {
  top: 3px;
  left: 1011px;
  border-radius: var(--br-9xl);
  width: 227px;
  height: 296px;
}
.image-43-icon1,
.image-45-icon,
.image-47-icon {
  position: absolute;
  object-fit: cover;
}
.image-45-icon {
  top: 341px;
  left: 520px;
  border-radius: var(--br-9xl);
  width: 446px;
  height: 359px;
}
.image-47-icon {
  top: 226px;
  left: 0;
  width: 200px;
  height: 230px;
}
.group-child18,
.rectangle-parent14 {
  position: absolute;
  top: 856px;
  left: 88px;
  width: 1425px;
  height: 711px;
}
.group-child18 {
  top: 140px;
  left: 80px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image-54-icon,
.image-56-icon {
  position: absolute;
  top: 3px;
  left: 978px;
  border-radius: var(--br-9xl);
  width: 219px;
  height: 277px;
  object-fit: cover;
}
.image-54-icon {
  top: 0;
  left: 172px;
  width: 397px;
  height: 280px;
}
.image-50-icon,
.image-51-icon,
.image-52-icon,
.image-53-icon,
.image-55-icon {
  position: absolute;
  top: 13px;
  left: 605px;
  border-radius: var(--br-9xl);
  width: 337px;
  height: 267px;
  object-fit: cover;
}
.image-50-icon,
.image-51-icon,
.image-52-icon,
.image-53-icon {
  top: 346px;
  left: 422px;
  width: 263px;
  height: 304px;
}
.image-51-icon,
.image-52-icon,
.image-53-icon {
  left: 717px;
  width: 272px;
  height: 308px;
}
.image-52-icon,
.image-53-icon {
  top: 345px;
  left: 172px;
  width: 212px;
  height: 304px;
}
.image-53-icon {
  top: 346px;
  left: 1005px;
  width: 192px;
  height: 308px;
}
.image-58-icon,
.image-59-icon {
  position: absolute;
  top: 189px;
  left: 0;
  width: 140px;
  height: 219px;
  object-fit: cover;
}
.image-59-icon {
  left: 1213px;
}
.group-child19,
.rectangle-parent15 {
  position: absolute;
  top: 1741px;
  left: 114px;
  width: 1353px;
  height: 654px;
}
.group-child19 {
  top: 189px;
  left: 55px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image-63-icon {
  position: absolute;
  top: 53px;
  left: 156px;
  border-radius: var(--br-9xl);
  width: 323px;
  height: 287px;
  object-fit: cover;
}
.image-60-icon,
.image-61-icon,
.image-62-icon,
.image-64-icon,
.image-65-icon {
  position: absolute;
  top: 0;
  left: 504px;
  border-radius: var(--br-9xl);
  width: 302px;
  height: 348px;
  object-fit: cover;
}
.image-60-icon,
.image-61-icon,
.image-62-icon,
.image-65-icon {
  top: 116px;
  left: 842px;
  width: 322px;
  height: 224px;
}
.image-60-icon,
.image-61-icon,
.image-62-icon {
  top: 387px;
  left: 454px;
  width: 478px;
  height: 319px;
}
.image-61-icon,
.image-62-icon {
  top: 377px;
  left: 156px;
  width: 275px;
  height: 366px;
}
.image-62-icon {
  top: 387px;
  left: 965px;
  width: 206px;
  height: 348px;
}
.image-69-icon,
.image-70-icon {
  position: absolute;
  top: 259px;
  left: 0;
  width: 107px;
  height: 162px;
  object-fit: cover;
}
.image-70-icon {
  left: 1196px;
}
.group-child20,
.rectangle-parent16 {
  position: absolute;
  top: 4424px;
  left: 88px;
  width: 1303px;
  height: 743px;
}
.group-child20 {
  top: 176px;
  left: 63px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image-71-icon {
  position: absolute;
  top: 377px;
  left: 569px;
  border-radius: var(--br-9xl);
  width: 273px;
  height: 314px;
  object-fit: cover;
}
.image-72-icon,
.image-73-icon,
.image-74-icon,
.image-75-icon,
.image-76-icon {
  position: absolute;
  top: 365px;
  left: 882px;
  border-radius: var(--br-9xl);
  width: 273px;
  height: 338px;
  object-fit: cover;
}
.image-73-icon,
.image-74-icon,
.image-75-icon,
.image-76-icon {
  top: 375px;
  left: 193px;
  width: 336px;
  height: 328px;
}
.image-74-icon,
.image-75-icon,
.image-76-icon {
  top: 0;
  width: 276px;
  height: 298px;
}
.image-75-icon,
.image-76-icon {
  left: 949px;
  width: 206px;
  height: 299px;
}
.image-76-icon {
  left: 490px;
  width: 446px;
}
.image-79-icon,
.image-80-icon {
  position: absolute;
  top: 242px;
  left: 1195px;
  width: 126px;
  height: 185px;
  object-fit: cover;
}
.image-80-icon {
  left: 0;
}
.group-child21,
.rectangle-parent17 {
  position: absolute;
  top: 3534px;
  left: 95px;
  width: 1321px;
  height: 703px;
}
.group-child21 {
  top: 220px;
  left: 63px;
  background-color: var(--color-gray-300);
  width: 1210px;
  height: 318px;
}
.image-84-icon {
  position: absolute;
  top: 19px;
  left: 936px;
  border-radius: var(--br-9xl);
  width: 237px;
  height: 327px;
  object-fit: cover;
}
.image-81-icon,
.image-82-icon,
.image-83-icon,
.image-85-icon,
.image-86-icon {
  position: absolute;
  top: 428px;
  left: 532px;
  border-radius: var(--br-9xl);
  width: 404px;
  height: 363px;
  object-fit: cover;
}
.image-81-icon,
.image-82-icon,
.image-83-icon,
.image-86-icon {
  top: 0;
  left: 171px;
  width: 330px;
  height: 379px;
}
.image-82-icon,
.image-83-icon,
.image-86-icon {
  top: 423px;
  left: 165px;
  width: 317px;
  height: 368.02px;
}
.image-83-icon,
.image-86-icon {
  top: 19px;
  left: 532px;
  width: 373px;
  height: 356px;
}
.image-86-icon {
  top: 423px;
  left: 960px;
  width: 213px;
  height: 368px;
}
.image-87-icon,
.image-88-icon {
  position: absolute;
  top: 257px;
  left: 1189px;
  width: 139px;
  height: 227px;
  object-fit: cover;
}
.image-88-icon {
  left: 0;
}
.rectangle-parent18 {
  position: absolute;
  top: 2569px;
  left: 88px;
  width: 1328px;
  height: 791.02px;
}
.component-1variant3-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 5167px;
}
.gallery-content {
  position: relative;
  width: 100%;
  height: 5167px;
  text-align: center;
  font-size: var(--font-size-121xl);
  color: var(--white);
  font-family: var(--font-libre-bodoni);
}
