@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lucida+Handwriting:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=CotorisBold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cotoris:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Pro:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+FELL+Great+Primer:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lucida-handwriting: "Lucida Handwriting";
  --font-libre-bodoni: "Libre Bodoni";
  --font-cotorisbold: CotorisBold;
  --input-labels: Inter;
  --font-poppins: Poppins;
  --font-cotoris: Cotoris;
  --font-oswald: Oswald;
  --font-sofia-pro: "Sofia Pro";
  --font-actor: Actor;
  --font-lora: Lora;
  --font-im-fell-great-primer: "IM FELL Great Primer";

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-121xl: 140px;
  --font-size-lg-7: 18.7px;
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-lgi-6: 19.6px;
  --font-size-5xl: 24px;
  --font-size-2xl: 21px;
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --text-sm-normal-size: 14px;
  --font-size-5xs: 8px;
  --display-md-semibold-size: 36px;
  --text-xl-normal-size: 20px;
  --input-labels-size: 16px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-gray-100: #321a0c;
  --gray-900: #101828;
  --color-gray-200: rgba(255, 255, 255, 0.3);
  --color-gray-300: rgba(38, 20, 10, 0.78);
  --white: #fff;
  --color-saddlebrown-100: #552c15;
  --color-saddlebrown-200: rgba(85, 44, 21, 0.85);
  --color-saddlebrown-300: rgba(85, 44, 21, 0.91);
  --color-maroon-100: #5b0017;
  --color-darkgoldenrod-100: #cc9d2f;
  --color-darkgoldenrod-200: #997c00;
  --color-darkslateblue-100: #243054;
  --colour-100: #b8b8b8;
  --color-peachpuff: rgba(236, 202, 162, 0.98);
  --gray-700: #344054;
  --color-darkslategray-100: #393939;
  --color-darkslategray-200: #2d2d2d;
  --color-darkslategray-300: rgba(57, 57, 57, 0.6);
  --color-mediumseagreen: #2ecc71;
  --color-tomato-100: #f65050;
  --color-dodgerblue: #0088ff;
  --color-skyblue: #49cfe8;
  --color-mediumpurple: #a56cbd;
  --color-crimson: #fe4a51;
  --color-burlywood: #f3ca9e;
  --color-royalblue-100: #4281ff;
  --color-deepskyblue: #42c0f5;
  --color-hotpink: #f7679d;
  --primary-600: #7f56d9;
  --color-mediumslateblue-100: #4c60f5;
  --color-mediumvioletred: #c23785;
  --color-snow-100: #fcfafa;
  --color-whitesmoke-100: #faf9f9;
  --color-whitesmoke-200: #f9f6f6;
  --color-lavenderblush: #f6ecec;
  --color-linen: #f6f0e9;
  --gray-500: #667085;
  --gray-300: #d0d5dd;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-77xl: 96px;
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-9xl: 28px;
  --br-10xl: 29px;
  --br-5xs: 8px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-87xl: 106px;
  --br-141xl: 160px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
